<div class="boardContainer">
<% @forms.each do |form| %>



<div class="col-md-9 container1">  <!-- The elements of the entire box. -->
    
    <div class="col-md-12">
        <a href="/forms/<%= form.id %>"><h2 class="title"><%= form.title[0..55] %></h2></a> 
        <%-# Forms main title and anchor tag is used from show method where you click on the main title it takes you to seperate page to show the single form  -%>

        <% if user_signed_in? %>
        <% if @home_user %>
        <div class="date" id="profile">Curated by &nbsp;<a href="/user/<%= form.user.username %>"><i class="material-icons">account_circle</i><div id="prouser"><%= form.user.username %></div> </a>on &nbsp;
        <% else %>
        <div class="date" id="profile">Curated by &nbsp;<a href="/user/<%= form.user.username %>"><i class="material-icons">account_circle</i><div id="prouser"><%= form.user.username %></div></a>on &nbsp;
        <% end %>
        <% else %>
        <div class="date" id="profile">Curated by &nbsp;<a href="/users/sign_in"><i class="material-icons">account_circle</i><div id="prouser"><%= form.user.username %></div></a>on &nbsp;
        <% end %>

        <h10 class="date"><%= form.updated_at.strftime('%b %d, %Y') %></h10>
        <%-# created_at is a method where it tells us when was the form created or published and .strftime('%b %d, %Y') is used for a particular date format we want to show it -%>

        &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;<h10 class="date">
        <!-- < form.readtime.reading_time :format => :full %> -->
            
        </h10>
        <%-#reading time from readingtime gem -%>

        </div>


        <% if user_signed_in? %>
            <div class="bookmark">   <!-- This contains all the elements to like the button where we have the heart option -->
                <% if form.bookmark == true %>
                <%= link_to dislike1_form_path(form), class: 'vote', method: :put, data: { toggle_text: 'Like', toggle_href: like1_form_path(form), id: form.id } do %>
                <i class="material-icons", id="book1", style="color:#9c1717">bookmark</i>
                <% end %>

                <% else %>
                <%= link_to like1_form_path(form), class: 'vote', method: :put, data: { toggle_text: 'Dislike', toggle_href: dislike1_form_path(form), id: form.id } do %>
                <i class="material-icons", id="book2", style="color:#9c1717">bookmark_border</i>
                <% end %>
             <% end %>

             
            <%-# It tells you the total count or the total likes on the current form  -%>
            </div>

        <% else %>
            <div class="bookmark"><i class="material-icons" style="color:#9c1717">bookmark</i> </div>
        <% end %>
    
    </div>




<div id="container2">

    <div class="col-md-4" id="description"> <!-- Bootstrap to divide the entire page into colums -->    
        
      <!-- <i class="material-icons" id="matred" style="float:left">favorite_border</i><div class="like" id="matred"></div> -->
      
      <!--<a href="/forms/<%= form.id %>"><h3 class="title"><%= form.title[0..55] %></h3></a> 
      <%-# Forms main title and anchor tag is used from show method where you click on the main title it takes you to seperate page to show the single form  -%>

        <h10 class="date"><%= form.created_at.strftime('%b %d, %Y') %></h10>
      <%-# created_at is a method where it tells us when was the form created or published and .strftime('%b %d, %Y') is used for a particular date format we want to show it -%>
      
      Taken care of by overflow scroll
      <h3 class="internal_text"><%= form.description[0..250].gsub(/\s\w+\s*$/,' ...') rescue nil %></h3>  -->
      <h4 id="summary">Summary</h4>
      <h5 class="internal_text"><%= form.description %></h5>  
      <!-- <div class="center-material">
      <i class="material-icons" id="matred" style="font-size:12px">bookmark_border</i>
      <i class="material-icons" id="matred" style="font-size:12px">add_circle_outline</i>
      <i class="material-icons" id="matred" style="font-size:12px">add_circle_outline</i>
    </div> -->
        <!-- <div class="center-material">28 mins long</div> -->
    
    <!--
    <% if user_signed_in? %>
    <% if @home_user %>
    <a href="/user/<%= form.user.username %>"><div id="profile"><i class="material-icons">account_circle</i><div id="prouser"><%= form.user.username %></div></div></a>
     <% else %>
    <a href="/user/<%= form.user.username %>"><div id="profile"><i class="material-icons">account_circle</i><div id="prouser"><%= form.user.username %></div></div></a>
    <% end %>
    <% else %>
    <a href="/users/sign_in"><div id="profile"><i class="material-icons">account_circle</i><div id="prouser"><%= form.user.username %></div></div></a>
    <% end %>-->

    <!--
    <% if user_signed_in? %>
            <div class="like">   This contains all the elements to like the button where we have the heart option --><!--
                <% if current_user.liked? form %>
                <%= link_to dislike_form_path(form), class: 'vote', method: :put, remote: true, data: { toggle_text: 'Like', toggle_href: like_form_path(form), id: form.id } do %>
                <i class="material-icons" style="color:#9c1717">favorite</i>
                <% end %>

                <% else %>
                <%= link_to like_form_path(form), class: 'vote', method: :put, remote: true, data: { toggle_text: 'Dislike', toggle_href: dislike_form_path(form), id: form.id } do %>
                <i class="material-icons" style="color:#9c1717">favorite_border</i>
                <% end %>
        <% end %>

            <div id="likes"><%= form.get_likes.size %> 
            <%-# It tells you the total count or the total likes on the current form  -%>
            </div></div>

        <% else %>
            <i class="material-icons" id="matred" style="float:left">favorite_border</i><div class="like" id="matred"><%= form.get_likes.size %></div>
        <% end %> -->

      <!-- <div class="bottom-material">
            <i class="material-icons" id="matred" style="font-size:16px">bookmark_border</i>
            <i class="material-icons" id="matred" style="font-size:16px">add_circle_outline</i>
            <i class="material-icons" id="matred" style="font-size:16px">add_circle_outline</i>
        </div> -->
    
    </div>

   <div id="verticalLine"></div>

    <div class="container3"> <!-- This is for the second container. Those 5 blocks on the right side. Inside this we have 5 columns --> 
    <ul class="row">
    
    <%-# This is the url entered by the user so when you click anywhere on this section it redirects you to the url -%>
    <li class="col-md-2 col-sm-4" id="articleCard">  
    <a href= <%= form.url1 %> target="framename", id="formclick" > 
    <%-# Bootstrap used to make colums of the entire page. So the entire page is divided into 12 columns. so you can divide page into certain colums  -%>
    <hr>
    <!-- We shouldn't put "..." on titles 
    <h10 class="title1"><%= form.title1[0..40].gsub(/\s\w+\s*$/,'...') rescue nil %></h10> -->

    <h4 class="title1">
      <%= form.title1 rescue nil %>
    </h4>
    <%-# It renders the title of the entered url from orders controller using metainspector gem in the create method where i have used a substring where it takes only the first 30 characters -%>
    <%-# rescue nil is predefined method where if there is no data it wont stop the code it will declare that part as nil and will rescue the form -%>
    <div class="image">
    <% if form.image1.present? %>
      <%= image_tag form.image1 , id:"image" %>
    <% else %>
      <%= image_tag "whiteimage.jpg" , id:"image" %>
    <% end %>
    </div> 
    <%-# It renders the image of the entered url from orders controller using metainspector gem in the create method -%>
    <div id="link"><%= form.url1.sub(/https?\:(\\\\|\/\/)(www.)?/,'').split('/').first %></div> 
    <%-# It takes the  url from orders controller using metainspector gem in the create method where we the user enters the url and used a substring where it captures only www.example.com instead of www.example.com/fasfasfa/asdasfda -%>
    <br>
    <h6 class="internal_text1"><%= form.description1 rescue nil %></h6> 
    <%-# It renders the description of the entered url from orders controller using metainspector gem in the create method where i have used a substring where it takes only the first 100 characters -%>
    <hr>
    </a>
    </li>  
    
    <li class="col-md-2 col-sm-4" id="articleCard">  
    <a href= <%= form.url2 %>  target="_blank", id="formclick">
    <hr>
    <h4 class="title1">
      <%= form.title2 rescue nil %>
    </h4>
    <div class="image">
    <% if form.image2.present? %>
      <%= image_tag form.image2 , id:"image" %>
    <% else %>
      <%= image_tag "whiteimage.jpg" , id:"image" %>
     
     <% end %>
        
    </div>
    <div id="link"><%= form.url2.sub(/https?\:(\\\\|\/\/)(www.)?/,'').split('/').first %></div>
    <br>
    <h6 class="internal_text1"><%= form.description2 rescue nil %></h6>
    <hr>
    </a>
    </li>
    
    <li class="col-md-2 col-sm-4" id="articleCard">
    <a href= <%= form.url3 %>  target="_blank", id="formclick" >
    <hr>
    <h4 class="title1">
      <%= form.title3 rescue nil %>
    </h4>
    <div class="image">
    <% if form.image3.present? %>
      <%= image_tag form.image3 , id:"image" %>
    <% else %>
      <%= image_tag "whiteimage.jpg" , id:"image" %>
    <% end %>
    </div>
    <div id="link"><%= form.url3.sub(/https?\:(\\\\|\/\/)(www.)?/,'').split('/').first %></div>
    <br>
    <h6 class="internal_text1"><%= form.description3 rescue nil %></h6>
    <hr>
    </a>
    </li>

    <li class="col-md-2 col-sm-4" id="articleCard">
    <a href= <%= form.url4 %>  target="_blank" , id="formclick">
    <hr>
    <!-- Title4 DB name is MIS-SPELLED! -->
    <h4 class="title1">
      <%= form.titel4 rescue nil %>
    </h4>
   <div class="image">
    <% if form.image4.present? %>
      <%= image_tag form.image4 , id:"image" %>
    <% else %>
      <%= image_tag "whiteimage.jpg" , id:"image" %>
    <% end %>
    </div>
    <div id="link"><%= form.url4.sub(/https?\:(\\\\|\/\/)(www.)?/,'').split('/').first %></div>
    <br>
    <h6 class="internal_text1"><%= form.description4 rescue nil %></h6>
    <hr>
    </a>
    </li>  
    
    <li class="col-md-2 col-sm-4" id="articleCard">
    <a href= <%= form.url5 %>  target="_blank" , id="formclick">
    <hr>
    <h4 class="title1">
    <%= form.title5 rescue nil %>
    </h4>
    <div class="image">
    <% if form.image5.present? %>
      <%= image_tag form.image5 , id:"image" %>
    <% else %>
      <%= image_tag "whiteimage.jpg" , id:"image" %>
    <% end %>
    </div>
    <div id="link"><%= form.url5.sub(/https?\:(\\\\|\/\/)(www.)?/,'').split('/').first %></div>
    <br>
    <h6 class="internal_text1"><%= form.description5 rescue nil %></h6>
    <hr>
    </a>
    </li>
    
    
    </ul>
    </div>
   <div id="hScroll"><i class="material-icons md-24" , id="addHScroll">chevron_right</i></div>
 

    <div class="col-md-12 container4">

        <% if user_signed_in? %>
            <div class="like">   <!-- This contains all the elements to like the button where we have the heart option -->
                <% if current_user.liked? form %>
                <%= link_to dislike_form_path(form), class: 'vote', method: :put, data: { toggle_text: 'Like', toggle_href: like_form_path(form), id: form.id } do %>
                <i class="material-icons" style="color:#9c1717">favorite</i>
                <% end %>

                <% else %>
                <%= link_to like_form_path(form), class: 'vote', method: :put, data: { toggle_text: 'Dislike', toggle_href: dislike_form_path(form), id: form.id } do %>
                <i class="material-icons" style="color:#9c1717">favorite_border</i>
                <% end %>
                <% end %>

                <div id="likes">
                <% if form.get_likes.size > 0 %>
                <%= form.get_likes.size %> 
                <% else %>
                <% end %>
                <%-# It tells you the total count or the total likes on the current form  -%>
                </div>
            </div>

        <% else %>
             <div class="like"><i class="material-icons" style="color:#9c1717">favorite</i> <div id="likes"><%= form.get_likes.size %></div></div>
        <% end %>


        <div class="viewcount" id="profile">&nbsp;&nbsp;&nbsp;
        <!-- View Count <= form.hits %> --> 
        &nbsp;        
        
        &nbsp; &nbsp;|&nbsp; &nbsp;&nbsp;<h10 class="date"></h10>
        <%-#reading time from readingtime gem -%>
        &nbsp; &nbsp;&nbsp; &nbsp;
        <% if form.unspecified.present? %>
         <!-- <i class="material-icons", style="color: red">linear_scale</i>
         Unspecified -->
        <% elsif form.easy.present? %>
          Level: Easy
        <% elsif form.involved.present? %>
          Level: Involved
        <% elsif form.advanced.present? %>
          Level: Advanced
        <% else %>
        <% end %>
        </div>
        <div id="tagging", style="float:right;color:blue"><%= raw form.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></div>
        </div>
        </div>
    </div>

 

 
 

 <!-- USING DISQUS FOR COMMENTS!!! 
 <div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://p8c.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
-->

<% if @home_banner %>
 
<%= link_to 'Edit and Publish', edit_form_path(form), type:"button", class:"btn btn-primary" %>
<%= link_to 'Delete', form, method: :delete, data: { confirm: 'Are you sure?' }, type:"button", class:"btn btn-primary" %>
<% else %>
<% end %>


<% end %>
</div>

