
<%-# For this page read the comments on thankspage.html.erb  -%>



<!-- <p id="notice"><%= notice %></p> -->
<div class="maincont">
<% if user = current_user %>
<div id="usacc"><i class="material-icons" style="font-size:50px; float:center">account_circle</i><div id="username">&nbsp;&nbsp;<%= user.username %></div></div> 
<%-# user is a variable which has the user who created this particular form . so here it displays user username  -%>
<div id="abt">&nbsp;&nbsp;<%= user.author %></div>
<%-# user is a variable which has the user who created this particular form . so here it displays user author  -%>
<br>
<br>


<div class="formlist">
<div class="count">
<div id="countpub"><%= Form.where(user_id:current_user.id, publish:true).count %></div> 
<%-# it will show the count of publish because it is true  -%>
<div id="countdra"><%= Form.where(user_id:current_user.id, publish:false).count %></div>
<%-# it will show the count of drafts because publish is false -%>
<div id="countsav"><%= Form.where(id: current_user.find_up_voted_items).count %></div>
<%-# it will show the count of saved boards so it will find current_user saved boards because each user is unique and can have their own saved boards  -%>
</div>

<div class="boord">
<%-# link_to is link button to go the path written next to it  -%>
<%= link_to 'Published', static_pages_publish_path, id:"board" %>
<%= link_to 'Drafts', static_pages_drafts_path, id:"board1" %>
<%= link_to 'Saved', static_pages_saved_path, id:"board2" %>
</div>

<%= render 'static_pages/boards'%>

</div>

<br>

 
  </li>
<% else %>
  
<% end %>
</div>


<script type="text/javascript">

// var hoverOrClick = function () {
// $('#board').css('color','#9C1717');
// $('#board').css('padding-bottom','2px');
// $('#board').css('border-bottom','3px solid #9C1717');}
// $('#board').click(hoverOrClick);

var hoverOrClick = function () {
$('#board1').css('color','#9C1717');
$('#board1').css('padding-bottom','2px');
$('#board1').css('border-bottom','3px solid #9C1717');}
$('#board1').click(hoverOrClick).hover(hoverOrClick);

// var hoverOrClick = function () {
// $('#board2').css('color','#9C1717');
// $('#board2').css('padding-bottom','2px');
// $('#board2').css('border-bottom','3px solid #9C1717');}
// $('#board2').click(hoverOrClick);
    
</script>