<!-- if user has signed in -->
<% if user = current_user %>
<div class="maincont">

  <%= render 'static_pages/boards'%>


</div>  


<!-- if user isn't signed in -->
<% else %>

<div id="showModal"></div>
  
  <div layout="row" align="middle">
    <div flex="33"></div>
    <div flex>
      <%= image_tag 'thecurativ.png', id:"before-signup-logo" %>
    </div>
    <div flex="33">
      <br><br>
      <%= link_to 'Sign In/Up', new_user_session_path, remote:true %>
    </div>
  </div>



  <div layout="row" layout-align="center center">
    <p class="before-signup-text">Aggregate, Discover & Share <br> truly great media & content on the web.</p>
  </div>


  <div layout="row" layout-align="center center">
    <%= image_tag 'Screen Shot 2017-09-23 at 4.48.57 PM.png' %>
  </div>



  <div layout="row" layout-xs="column" layout-align="center center" class="picks">
    <div flex><br>Pick a <br><b>TOPIC</b></div>
    <div flex><br><%= image_tag 'Arrow 29 (1).svg' %></div>
    <div flex><br>Choose <br><b>5 LINKS</b></div>
    <div flex><br><%= image_tag 'Arrow 29 (1).svg' %></div>
    <div flex><br>Publish &<br><b> Share</b></div>
  </div>

  <div layout="row" layout-align="center center">
    <br><br><br>
    <a data-remote="true" href="/users/sign_in"><md-button class="md-accent md-raised md-hue-1">Sign In/Up</md-button></a>
  </div>

  
  <hr style="border:3px solid #9c1717;width: 90%;margin: 0px auto;margin-top:5%;">
  <div layout="row" layout-align="center center">
    <p class="before-signup-footer">tell a STORY | explain TOPIC | express a VIEW | build a COLLECTION | keep LEARNING<br><br><br></p>
  </div>


<% end %>
