<!-- if user has signed in -->
<% if user = current_user %>
<md-content flex>
  <%= render 'static_pages/boards'%>
  <br>
  <%= render 'static_pages/footer' %>
</md-content>
  <script type="text/javascript">
    mixpanel.track("Page Viewed", {
      "Page Name": 'Home Page',
      "Username": '<%= current_user.username %>'    
    });
  </script>
  <% if request.referrer == edit_user_url(user) %>
    <script type="text/javascript">
      mixpanel.alias('<%= current_user.username %>');      
      mixpanel.people.set({
        "$first_name": '<%= current_user.name %>',
        "$created": '<%= current_user.created_at %>',
        "$email": '<%= current_user.email %>'
      });            
      mixpanel.track("Sign Up Completed", {
        "Username": '<%= current_user.username %>',
        "Authentication Method": '<%= current_user.provider %>',
        "email": '<%= current_user.email %>'
      });
    </script>
    <script type="text/javascript">
      mixpanel.identify('<%= current_user.username %>');
      mixpanel.track("Sign In", {
        "Username": '<%= current_user.username %>',
        "Authentication Method": '<%= current_user.provider %>',
        "First Sign-in": '<%= current_user.created_at.to_date %>',
        "Last Sign-in": '<%= current_user.last_sign_in_at.to_date %>',
        "# of Sign-ins": '<%= current_user.sign_in_count %>'
      });
    </script>
  <% end %>
  <% if request.referrer == root_url %>
    <script type="text/javascript">
      mixpanel.identify('<%= current_user.username %>');
      mixpanel.track("Sign In", {
        "Username": '<%= current_user.username %>',
        "Authentication Method": '<%= current_user.provider %>',
        "First Sign-in": '<%= current_user.created_at.to_date %>',
        "Last Sign-in": '<%= current_user.last_sign_in_at.to_date %>',
        "# of Sign-ins": '<%= current_user.sign_in_count %>'
      });
    </script>
  <% end %>

<!-- if user isn't signed in -->
<% else %>  
<div id="showModal"></div>
  
<div layout="row" align="middle">
  <div flex="25"></div>
  <div flex>
    <%= image_tag 'thecurativ.png', id:"before-signup-logo" %>
    <span align="top" style="position: absolute; top: 27px; color: #9c1717; font-weight: bold">BETA</span>    
  </div>
  <div flex="25">
    <br><br>
    <%= link_to 'Sign In/Up', new_user_session_path, remote:true %>
  </div>
</div>
<div layout="row" align="middle">
  <p flex class="before-signup-text">Aggregate, Discover & Share <br> truly great media & content on the web.</p>
</div>
<div layout="row" align="middle">
  <div flex="20"></div>
  <div flex>
    <img src="/assets/Screen Shot 2017-09-23 at 4.48.57 PM.png" alt="img" style="width: 80%">
  </div>
  <div flex="20"></div>  
</div>
<div layout="row" align="middle" layout-align="center center" class="picks">  
  <div flex><br></div>
  <div flex><br>Pick a <br><b>TOPIC</b></div>
  <div flex><br><%= image_tag 'Arrow 29 (1).svg', style: "width: 40%" %></div>
  <div flex><br>Choose <br><b>5 LINKS</b></div>
  <div flex><br><%= image_tag 'Arrow 29 (1).svg', style: "width: 40%" %></div>
  <div flex><br>Publish &<br><b> Share</b></div>
  <div flex><br></div>
</div>
<div layout="row" layout-align="center center" style="margin-top: 10px; margin-bottom: 5px">
  <br>
  <a data-remote="true" href="/users/sign_in"><md-button class="md-accent md-raised md-hue-1">Sign In/Up</md-button></a>
</div>
<hr style="border:1px solid #9c1717;width: 90%;margin: 0px auto;margin-top:1%;">
<div layout="row" layout-align="center center">
  <p class="before-signup-footer">tell a STORY | explain TOPIC | express a VIEW | build a COLLECTION | keep LEARNING<br></p>
</div>
<script type="text/javascript">
  mixpanel.track("Page Viewed", {
    "Page Name": 'Landing Page',    
  });
</script>

<% end %>
