<div class="maincont">
<% if user = current_user %>
<br>
<%= render 'static_pages/boards'%>

</div>
<br>

<% else %>
  <!-- <li> -->
<% @forms.each do |form| %>




<div class="container1">
    
    
    <div class="col-md-4">
      <i class="material-icons" id="matred" style="float:left">favorite_border</i><div class="like" id="matred"><%= form.get_likes.size %></div>
      <br><h3 class="title"><%= form.title[0..40] %></h3>
      <!-- <h10 class="date"><%= form.created_at.strftime('%b %d, %Y') %></h10> -->
      <br>
      <h3 class="internal_text"><%= form.description[0..250] %></h3>
      <!-- <div class="center-material"> 
      <i class="material-icons" id="matred" style="font-size:12px">bookmark_border</i>
      <i class="material-icons" id="matred" style="font-size:12px">add_circle_outline</i>
      <i class="material-icons" id="matred" style="font-size:12px">add_circle_outline</i>
    </div>
    <div class="center-material">28 mins long</div> -->
    <br>
    <br>
    <br>

        <div id="profile"><i class="material-icons">account_circle</i><div id="prouser">&nbsp;&nbsp;<%= form.user.username %></div></div>

      <!-- <div class="bottom-material">
      <i class="material-icons" id="matred" style="font-size:16px">bookmark_border</i>
      <i class="material-icons" id="matred" style="font-size:16px">add_circle_outline</i>
      <i class="material-icons" id="matred" style="font-size:16px">add_circle_outline</i>
    </div> -->
    </div>
     

   
    <div class="container3">
   
    <div class="row">
    
    <a href= <%= form.url1 %>, target="_blank", id="formclick" >
    <div class="col-md-2 col-half-offset">
    <br>
    <hr>
    <h10 class="title1"><%= form.title1[0..30].gsub(/\s\w+\s*$/,'...') rescue nil %></h10>
    <br>
    <br>
    <div class="image"><%= image_tag form.image1 , id:"image" %></div>
    <br>
    <div id="link"><%= form.url1.sub(/https?\:(\\\\|\/\/)(www.)?/,'').split('/').first %></div>
    <br>
    <h4 class="internal_text1"><%= form.description1[0..100].gsub(/\s\w+\s*$/,'...') rescue nil %></h4>
    <hr>
    <br>
    </div>
    </a>

  
    <a href= <%= form.url2 %>, target="_blank", id="formclick" >
    <div class="col-md-2 col-half-offset">
    <br>
    <hr>
    <h10 class="title1"><%= form.title2[0..30].gsub(/\s\w+\s*$/,'...') rescue nil %></h10>
    <br>
    <br>
    <div class="image"><%= image_tag form.image2 , id:"image" %></div>
    <br>
    <div id="link"><%= form.url2.sub(/https?\:(\\\\|\/\/)(www.)?/,'').split('/').first %></div>
    <br>
    <h4 class="internal_text1"><%= form.description2[0..100].gsub(/\s\w+\s*$/,'...') rescue nil %></h4>
    <hr>
    <br>
    </div>
    </a>

     
    <a href= <%= form.url3 %>, target="_blank", id="formclick" > 
    <div class="col-md-2 col-half-offset">
    <br>
    <hr>
    <h10 class="title1"><%= form.title3[0..30].gsub(/\s\w+\s*$/,'...') rescue nil %></h10>
    <br>
    <br>
    <div class="image"><%= image_tag form.image3 , id:"image" %></div>
    <br>
    <div id="link"><%= form.url3.sub(/https?\:(\\\\|\/\/)(www.)?/,'').split('/').first %></div>
    <br>
    <h4 class="internal_text1"><%= form.description3[0..100].gsub(/\s\w+\s*$/,'...') rescue nil %></h4>
    <hr>
    <br>
    </div>
    </a>

    <a href= <%= form.url4 %>, target="_blank", id="formclick" >
    <div class="col-md-2 col-half-offset">
    <br>
    <hr>
    <h10 class="title1"><%= form.titel4[0..30].gsub(/\s\w+\s*$/,'...') rescue nil %></h10>
    <br>
    <br>
    <div class="image"><%= image_tag form.image4 , id:"image" %></div>
    <br>
    <div id="link"><%= form.url4.sub(/https?\:(\\\\|\/\/)(www.)?/,'').split('/').first %></div>
    <br>
    <h4 class="internal_text1"><%= form.description4[0..100].gsub(/\s\w+\s*$/,'...') rescue nil %></h4>
    <hr>
    <br>
    </div>
    </a>
    
    <a href= <%= form.url5 %>, target="_blank", id="formclick" >
    <div class="col-md-2 col-half-offset">
    <br>
    <hr>
    <h10 class="title1"><%= form.title5[0..30].gsub(/\s\w+\s*$/,'...') rescue nil %></h10>
    <br>
    <br>
    <div class="image"><%= image_tag form.image5 , id:"image" %></div>
    <br>
    <div id="link"><%= form.url5.sub(/https?\:(\\\\|\/\/)(www.)?/,'').split('/').first %></div>
    <br>
    <h4 class="internal_text1"><%= form.description5[0..100].gsub(/\s\w+\s*$/,'...') rescue nil %></h4>
    <hr>
    <br>
    </div>
    </a>
<!-- 
    <div class="col-md-2 col-half-offset">
    <br>
    <hr>
    <h10 class="title1">Title 6</h10>
    <br>
    <br>
    <%= image_tag "photo.png", :size => "161x161" %>
    <br>
    <div id="link">Simplyfyingfinance.com</div>
    <br>
    <h4 class="internal_text1">i was always focussed on achieving the best. the best is yet to come.... </h4>
    <hr>
    <br>
    </div> -->

    </div>
    </div>  
     </div> 

<% end %>  
  <!-- </li> -->
<% end %>

</div>