<link rel="alternate" type="application/rss+xml" title="CEN RSS Feed" href="http://"/>

<div class="maincont">

<% if user = current_user %>
<div id="usacc"><i class="material-icons" style="font-size:50px; float:center">account_circle</i><div id="username"><%= user.username %></div></div>
<div id="abt"><%= user.author %></div>
<br>
<br>


<div class="formlist">
<div class="count">
<div id="countpub"><%= Form.where(user_id:current_user.id, publish:true).count %></div>
<div id="countdra"><%= Form.where(user_id:current_user.id, publish:false).count %></div>
<div id="countsav"><%= Form.where(id: current_user.find_up_voted_items).count %></div>

</div>

<div class="boord">
<%= link_to 'Published', static_pages_publish_path, id:"board" %>
<%= link_to 'Drafts', static_pages_drafts_path, id:"board1" %>
<%= link_to 'Saved', static_pages_saved_path, id:"board2" %>
</div>

<% @forms.each do |form| %>


<div class="container1">
    
    
    <div class="col-md-4">
    <div class="like">
    <% if current_user.liked? form %>
    <%= link_to dislike_form_path(form), class: 'vote', method: :put, remote: true, data: { toggle_text: 'Like', toggle_href: like_form_path(form), id: form.id } do %>
    <i class="material-icons" style="color:#9c1717">favorite</i>
    
    <% end %>

    <% else %>
    <%= link_to like_form_path(form), class: 'vote', method: :put, remote: true, data: { toggle_text: 'Dislike', toggle_href: dislike_form_path(form), id: form.id } do %>
    <i class="material-icons" style="color:#9c1717">favorite_border</i>
    <% end %>

    <% end %>

    <%= form.get_likes.size %>
    </div> 
      <!-- <i class="material-icons" id="matred" style="float:left">favorite_border</i><div class="like" id="matred">250</div> -->
      <br><a href="/forms/<%= form.id %>"><h3 class="title"><%= form.title %></h3></a>
      <h10 class="date"><%= form.created_at.strftime('%b %d, %Y') %></h10><br>
      <h3 class="internal_text"><%= form.description %></h3>
      <!-- <div class="center-material">
      <i class="material-icons" id="matred" style="font-size:12px">bookmark_border</i>
      <i class="material-icons" id="matred" style="font-size:12px">add_circle_outline</i>
      <i class="material-icons" id="matred" style="font-size:12px">add_circle_outline</i>
    </div> -->
<!--     <div class="center-material">28 mins long</div>
 -->    <br>
    <br>
    <br>
        <a href="/static_pages/publish"><div id="profile"><i class="material-icons">account_circle</i><div id="prouser"><%= current_user.username %></div></div></a>
      <!-- <div class="bottom-material">
      <i class="material-icons" id="matred" style="font-size:16px">bookmark_border</i>
      <i class="material-icons" id="matred" style="font-size:16px">add_circle_outline</i>
      <i class="material-icons" id="matred" style="font-size:16px">add_circle_outline</i>
    </div> -->
    </div>
     

   
    <div class="container3">
   
    <div class="row">
    <a href= <%= form.url1 %>, target="_blank", id="formclick" >
    <div class="col-md-2 col-half-offset">
    <br>
    <hr>
    <h10 class="title1"><%= form.title1[0..30] rescue nil %></h10>
    <br>
    <br>
    <div class="image"><%= image_tag form.image1 , id:"image" %></div>
    <br>
    <div id="link"><%= form.url1.sub(/https?\:(\\\\|\/\/)(www.)?/,'').split('/').first %></div>
    <br>
    <h4 class="internal_text1"><%= form.description1[0..100] rescue nil %></h4>
    <hr>
    <br>
    </div>
    </a>

  
    <a href= <%= form.url2 %> , target="_blank", id="formclick">
    <div class="col-md-2 col-half-offset">
    <br>
    <hr>
    <h10 class="title1"><%= form.title2[0..30] rescue nil %></h10>
    <br>
    <br>
    <div class="image"><%= image_tag form.image2 , id:"image" %></div>
    <br>
    <div id="link"><%= form.url2.sub(/https?\:(\\\\|\/\/)(www.)?/,'').split('/').first %></div>
    <br>
    <h4 class="internal_text1"><%= form.description2[0..100] rescue nil %></h4>
    <hr>
    <br>
    </div>
    </a>

    <a href= <%= form.url3 %>, target="_blank", id="formclick" >
    <div class="col-md-2 col-half-offset">
    <br>
    <hr>
    <h10 class="title1"><%= form.title3[0..30] rescue nil %></h10>
    <br>
    <br>
    <div class="image"><%= image_tag form.image3 , id:"image" %></div>
    <br>
    <div id="link"><%= form.url3.sub(/https?\:(\\\\|\/\/)(www.)?/,'').split('/').first %></div>
    <br>
    <h4 class="internal_text1"><%= form.description3[0..100] rescue nil %></h4>
    <hr>
    <br>
    </div>
    </a>

    <a href= <%= form.url4 %>, target="_blank" , id="formclick">
    <div class="col-md-2 col-half-offset">
    <br>
    <hr>
    <h10 class="title1"><%= form.titel4[0..30] rescue nil %></h10>
    <br>
    <br>
    <div class="image"><%= image_tag form.image4 , id:"image" %></div>
    <br>
    <div id="link"><%= form.url4.sub(/https?\:(\\\\|\/\/)(www.)?/,'').split('/').first %></div>
    <br>
    <h4 class="internal_text1"><%= form.description4[0..100] rescue nil %></h4>
    <hr>
    <br>
    </div>
    </a>
 
    <a href= <%= form.url5 %>, target="_blank" , id="formclick">
    <div class="col-md-2 col-half-offset">
    <br>
    <hr>
    <h10 class="title1"><%= form.title5[0..30] rescue nil %></h10>
    <br>
    <br>
    <div class="image"><%= image_tag form.image5 , id:"image" %></div>
    <br>
    <div id="link"><%= form.url5.sub(/https?\:(\\\\|\/\/)(www.)?/,'').split('/').first %></div>
    <br>
    <h4 class="internal_text1"><%= form.description5[0..100] rescue nil %></h4>
    <hr>
    <br>
    </div>
    </a>
<!-- 
    <div class="col-md-2 col-half-offset">
    <br>
    <hr>
    <h10 class="title1">Title 6</h10>
    <br>
    <br>
    <%= image_tag "photo.png", :size => "161x161" %>
    <br>
    <div id="link">Simplyfyingfinance.com</div>
    <br>
    <h4 class="internal_text1">i was always focussed on achieving the best. the best is yet to come.... </h4>
    <hr>
    <br>
    </div> -->

    </div>
    </div>  
     </div> 



        <!-- <button><a href="/forms/<%= form.id %>">Hey</button> -->
        <button><%= link_to 'Edit', edit_form_path(form) %></button>
        <button><%= link_to 'Delete', form, method: :delete, data: { confirm: 'Are you sure?' } %></button>
      
    <% end %>

</div>
<br>

<% else %>
  
<% end %>
</div>


<script type="text/javascript">

var hoverOrClick = function () {
$('#board').css('color','#9C1717');
$('#board').css('padding-bottom','2px');
$('#board').css('border-bottom','3px solid #9C1717');}
$('#board').click(hoverOrClick).hover(hoverOrClick);

// var hoverOrClick = function () {
// $('#board1').css('color','#9C1717');
// $('#board1').css('padding-bottom','2px');
// $('#board1').css('border-bottom','3px solid #9C1717');}
// $('#board1').click(hoverOrClick);

// var hoverOrClick = function () {
// $('#board2').css('color','#9C1717');
// $('#board2').css('padding-bottom','2px');
// $('#board2').css('border-bottom','3px solid #9C1717');}
// $('#board2').click(hoverOrClick);
    
</script>