




<%-# For comments read thanks page  -%>
<link rel="alternate" type="application/rss+xml" title="CEN RSS Feed" href="http://"/>

<div class="maincont">
 
<% if user = current_user %>
<div class="col-md-10" id="userProfile">
	<div id="username">
		<i class="material-icons md-120">account_circle</i>
		<div id="userDescription">
			<h4><%= user.username %></h4>
			<h5><%= user.author %></h5>
		</div>
	</div>
	<div class="userStats">
	<div class="formlist">
		<ul class="count">
			<li><%= Form.where(user_id:current_user.id, publish:true).count %></li>
			<li><%= Form.where(user_id:current_user.id, publish:false).count %></li>
			<li><%= Form.where(id: current_user.find_up_voted_items).count %></li>
		</ul>
	
		<ul class="board">
			<li><%= link_to 'Published', static_pages_publish_path, id:"board" %></li>
			<li><%= link_to 'Drafts', static_pages_drafts_path, id:"board1" %></li>
			<li><%= link_to 'Saved', static_pages_saved_path, id:"board2" %></li>
		</ul>
	</div>
		<ul class="followers">
			<li>42 Following</li>
			<li></li>
			<li>15 Followers</li>
		</ul>
	</div>
</div>



<%= render 'static_pages/boards'%>

<br>

<% else %>	
  
<% end %>
</div>



<script type="text/javascript">

var hoverOrClick = function () {
$('#board').css('color','#9C1717');
$('#board').css('background-color','white');
$('#board').css('padding-bottom','2px');
$('#board').css('border-bottom','3px solid #9C1717');}
$('#board').click(hoverOrClick).hover(hoverOrClick);

// var hoverOrClick = function () {
// $('#board1').css('color','#9C1717');
// $('#board1').css('padding-bottom','2px');
// $('#board1').css('border-bottom','3px solid #9C1717');}
// $('#board1').click(hoverOrClick);

// var hoverOrClick = function () {
// $('#board2').css('color','#9C1717');
// $('#board2').css('padding-bottom','2px');
// $('#board2').css('border-bottom','3px solid #9C1717');}
// $('#board2').click(hoverOrClick);
    
</script>

