




<%-# For comments read thanks page  -%>
<link rel="alternate" type="application/rss+xml" title="CEN RSS Feed" href="http://"/>

<div class="maincont">

<% if user = current_user %>
<div id="usacc"><i class="material-icons" style="font-size:50px; float:center">account_circle</i><div id="username"><%= user.username %></div></div>
<div id="abt"><%= user.author %></div>
<br>
<br>


<div class="formlist">
<div class="count">
<div id="countpub"><%= Form.where(user_id:current_user.id, publish:true).count %></div>
<div id="countdra"><%= Form.where(user_id:current_user.id, publish:false).count %></div>
<div id="countsav"><%= Form.where(id: current_user.find_up_voted_items).count %></div>

</div>

<div class="boord">
<%= link_to 'Published', static_pages_publish_path, id:"board" %>
<%= link_to 'Drafts', static_pages_drafts_path, id:"board1" %>
<%= link_to 'Saved', static_pages_saved_path, id:"board2" %>
</div>

<%= render 'static_pages/boards'%>


</div>
<br>

<% else %>
  
<% end %>
</div>


<script type="text/javascript">

var hoverOrClick = function () {
$('#board').css('color','#9C1717');
$('#board').css('padding-bottom','2px');
$('#board').css('border-bottom','3px solid #9C1717');}
$('#board').click(hoverOrClick).hover(hoverOrClick);

// var hoverOrClick = function () {
// $('#board1').css('color','#9C1717');
// $('#board1').css('padding-bottom','2px');
// $('#board1').css('border-bottom','3px solid #9C1717');}
// $('#board1').click(hoverOrClick);

// var hoverOrClick = function () {
// $('#board2').css('color','#9C1717');
// $('#board2').css('padding-bottom','2px');
// $('#board2').css('border-bottom','3px solid #9C1717');}
// $('#board2').click(hoverOrClick);
    
</script>