




<%-# For comments read thanks page  -%>


<div class="maincont">
<% if user = current_user %>
<div id="usacc"><i class="material-icons" style="font-size:50px; float:center">account_circle</i><div id="username">&nbsp;&nbsp;<%= user.username %></div></div>
<div id="abt">&nbsp;&nbsp;<%= user.author %></div>
<br>
<br>
<% end %>
<div class="formlist">
<div class="count">
<div id="countpub"><%= Form.where(user_id:current_user.id, publish:true).count %></div>
<div id="countdra"><%= Form.where(user_id:current_user.id, publish:false).count %></div>
<div id="countsav"><%= Form.where(id: current_user.find_up_voted_items).count %></div>

</div>

<div class="boord">
<%= link_to 'Published', static_pages_publish_path, id:"board" %>
<%= link_to 'Drafts', static_pages_drafts_path, id:"board1" %>
<%= link_to 'Saved', static_pages_saved_path, id:"board2" %>
</div>

<%= render 'static_pages/boards'%>
</div>