<!-- <p id="notice"><%= notice %></p> -->
<div class="maincont">
<% if user = current_user %>
<!-- <i class="material-icons" style="font-size:50px; float:center">account_circle</i><div id="username"><%= user.username %></div>
<br>
<br>


<div class="formlist">

<a href="/static_pages/publish"><button type="button">Published Boards</button></a>
<a href="/static_pages/drafts"><button type="button" >Drafts</button></a><br>
 --><!-- <div id="count"><%= Form.where(publish:true).count %>
</div> -->
<br>
<% @forms.each do |form| %>



<div class="container1">
    
    
    <div class="col-md-4">
    <div class="like">
    <% if current_user.liked? form %>
    <%= link_to dislike_form_path(form), class: 'vote', method: :put, remote: true, data: { toggle_text: 'Like', toggle_href: like_form_path(form), id: form.id } do %>
    <i class="material-icons" style="color:#9c1717">favorite</i>
    
    <% end %>

    <% else %>
    <%= link_to like_form_path(form), class: 'vote', method: :put, remote: true, data: { toggle_text: 'Dislike', toggle_href: dislike_form_path(form), id: form.id } do %>
    <i class="material-icons" style="color:#9c1717">favorite_border</i>
    <% end %>

    <% end %>

    <%= form.get_likes.size %>
    </div>
      <!-- <i class="material-icons" id="matred" style="float:left">favorite_border</i><div class="like" id="matred"></div> -->
      <br><a href="/forms/<%= form.id %>"><h3 class="title"><%= form.title %></h3></a>
      <h10 class="date"><%= form.created_at.strftime('%b %d, %Y') %></h10><br>
      <h3 class="internal_text"><%= form.description %></h3>
      <!-- <div class="center-material">
      <i class="material-icons" id="matred" style="font-size:12px">bookmark_border</i>
      <i class="material-icons" id="matred" style="font-size:12px">add_circle_outline</i>
      <i class="material-icons" id="matred" style="font-size:12px">add_circle_outline</i>
    </div> -->
    <!-- <div class="center-material">28 mins long</div> -->
    <br>
    <br>
    <br>
        
        <a href= "/user/<%= form.user.username %>" > <div id="profile"><i class="material-icons">account_circle</i><div id="prouser"><%= form.user.username %></div></div></a>

      <!-- <div class="bottom-material">
      <i class="material-icons" id="matred" style="font-size:16px">bookmark_border</i>
      <i class="material-icons" id="matred" style="font-size:16px">add_circle_outline</i>
      <i class="material-icons" id="matred" style="font-size:16px">add_circle_outline</i>
    </div> -->
    </div></a>
     

   
    <div class="container3">
   
    <div class="row">
    <div class="col-md-2 col-half-offset">
    <br>
    <hr>
    <h10 class="title1"><%= form.title1 %></h10>
    <br>
    <br>
    <div class="image"><%= image_tag "placeholder.png", id:"image" %></div>
    <br>
    <div id="link"><%= form.url1.sub(/https?\:(\\\\|\/\/)(www.)?/,'').split('/').first %></div>
    <br>
    <h4 class="internal_text1"><%= form.description1 %></h4>
    <hr>
    <br>
    </div>

  
    
    <div class="col-md-2 col-half-offset">
    <br>
    <hr>
    <h10 class="title1"><%= form.title2 %></h10>
    <br>
    <br>
    <div class="image"><%= image_tag "placeholder.png", id:"image" %></div>
    <br>
    <div id="link"><%= form.url2.sub(/https?\:(\\\\|\/\/)(www.)?/,'').split('/').first %></div>
    <br>
    <h4 class="internal_text1"><%= form.description2 %></h4>
    <hr>
    <br>
    </div>
    

     
    <div class="col-md-2 col-half-offset">
    <br>
    <hr>
    <h10 class="title1"><%= form.title3 %></h10>
    <br>
    <br>
    <div class="image"><%= image_tag "placeholder.png", id:"image" %></div>
    <br>
    <div id="link"><%= form.url3.sub(/https?\:(\\\\|\/\/)(www.)?/,'').split('/').first %></div>
    <br>
    <h4 class="internal_text1"><%= form.description3 %></h4>
    <hr>
    <br>
    </div>

    <div class="col-md-2 col-half-offset">
    <br>
    <hr>
    <h10 class="title1"><%= form.titel4 %></h10>
    <br>
    <br>
    <div class="image"><%= image_tag "placeholder.png", id:"image" %></div>
    <br>
    <div id="link"><%= form.url4.sub(/https?\:(\\\\|\/\/)(www.)?/,'').split('/').first %></div>
    <br>
    <h4 class="internal_text1"><%= form.description4 %></h4>
    <hr>
    <br>
    </div>

    <div class="col-md-2 col-half-offset">
    <br>
    <hr>
    <h10 class="title1"><%= form.title5.sub(/https?\:(\\\\|\/\/)(www.)?/,'').split('/').first %></h10>
    <br>
    <br>
    <div class="image"><%= image_tag "placeholder.png", id:"image" %></div>
    <br>
    <div id="link"><%= form.url5 %></div>
    <br>
    <h4 class="internal_text1"><%= form.description5 %></h4>
    <hr>
    <br>
    </div>
<!-- 
    <div class="col-md-2 col-half-offset">
    <br>
    <hr>
    <h10 class="title1">Title 6</h10>
    <br>
    <br>
    <%= image_tag "photo.png", :size => "161x161" %>
    <br>
    <div id="link">Simplyfyingfinance.com</div>
    <br>
    <h4 class="internal_text1">i was always focussed on achieving the best. the best is yet to come.... </h4>
    <hr>
    <br>
    </div> -->

    </div>
    </div>  
     </div> 



       
       <!--  <button><%= link_to 'Edit', edit_form_path(form) %></button>
        <button><%= link_to 'Delete', form, method: :delete, data: { confirm: 'Are you sure?' } %></button>
       -->
    <% end %>

</div>
<br>

<% else %>
  <!-- <li> -->
<% @forms.each do |form| %>




<div class="container1">
    
    
    <div class="col-md-4">
      <i class="material-icons" id="matred" style="float:left">favorite_border</i><div class="like" id="matred">250</div>
      <br><a href="/forms/<%= form.id %>"><h3 class="title"><%= form.title %></h3></a>
      <h10 class="date"><%= form.created_at.strftime('%b %d, %Y') %></h10><br>
      <h3 class="internal_text"><%= form.description %></h3>
      <div class="center-material">
      <i class="material-icons" id="matred" style="font-size:12px">bookmark_border</i>
      <i class="material-icons" id="matred" style="font-size:12px">add_circle_outline</i>
      <i class="material-icons" id="matred" style="font-size:12px">add_circle_outline</i>
    </div>
    <div class="center-material">28 mins long</div>
    <br>
    <br>
    <br>

        <a href="/static_pages/publish"><div id="profile"><i class="material-icons">account_circle</i><div id="prouser"><%= form.user.username %></div></div></a>

      <div class="bottom-material">
      <i class="material-icons" id="matred" style="font-size:16px">bookmark_border</i>
      <i class="material-icons" id="matred" style="font-size:16px">add_circle_outline</i>
      <i class="material-icons" id="matred" style="font-size:16px">add_circle_outline</i>
    </div>
    </div>
     

   
    <div class="container3">
   
    <div class="row">
    <div class="col-md-2 col-half-offset">
    <br>
    <hr>
    <h10 class="title1"><%= form.title1 %></h10>
    <br>
    <br>
    <div class="image"><%= image_tag "placeholder.png", id:"image" %></div>
    <br>
    <div id="link"><%= form.url1.sub(/https?\:(\\\\|\/\/)(www.)?/,'').split('/').first %></div>
    <br>
    <h4 class="internal_text1"><%= form.description1 %></h4>
    <hr>
    <br>
    </div>

  
    
    <div class="col-md-2 col-half-offset">
    <br>
    <hr>
    <h10 class="title1"><%= form.title2 %></h10>
    <br>
    <br>
    <div class="image"><%= image_tag "placeholder.png", id:"image" %></div>
    <br>
    <div id="link"><%= form.url2.sub(/https?\:(\\\\|\/\/)(www.)?/,'').split('/').first %></div>
    <br>
    <h4 class="internal_text1"><%= form.description2 %></h4>
    <hr>
    <br>
    </div>
    

     
    <div class="col-md-2 col-half-offset">
    <br>
    <hr>
    <h10 class="title1"><%= form.title3 %></h10>
    <br>
    <br>
    <div class="image"><%= image_tag "placeholder.png", id:"image" %></div>
    <br>
    <div id="link"><%= form.url3.sub(/https?\:(\\\\|\/\/)(www.)?/,'').split('/').first %></div>
    <br>
    <h4 class="internal_text1"><%= form.description3 %></h4>
    <hr>
    <br>
    </div>

    <div class="col-md-2 col-half-offset">
    <br>
    <hr>
    <h10 class="title1"><%= form.titel4 %></h10>
    <br>
    <br>
    <div class="image"><%= image_tag "placeholder.png", id:"image" %></div>
    <br>
    <div id="link"><%= form.url4.sub(/https?\:(\\\\|\/\/)(www.)?/,'').split('/').first %></div>
    <br>
    <h4 class="internal_text1"><%= form.description4 %></h4>
    <hr>
    <br>
    </div>

    <div class="col-md-2 col-half-offset">
    <br>
    <hr>
    <h10 class="title1"><%= form.title5.sub(/https?\:(\\\\|\/\/)(www.)?/,'').split('/').first %></h10>
    <br>
    <br>
    <div class="image"><%= image_tag "placeholder.png", id:"image" %></div>
    <br>
    <div id="link"><%= form.url5 %></div>
    <br>
    <h4 class="internal_text1"><%= form.description5 %></h4>
    <hr>
    <br>
    </div>
<!-- 
    <div class="col-md-2 col-half-offset">
    <br>
    <hr>
    <h10 class="title1">Title 6</h10>
    <br>
    <br>
    <%= image_tag "photo.png", :size => "161x161" %>
    <br>
    <div id="link">Simplyfyingfinance.com</div>
    <br>
    <h4 class="internal_text1">i was always focussed on achieving the best. the best is yet to come.... </h4>
    <hr>
    <br>
    </div> -->

    </div>
    </div>  
     </div> 

<% end %>  
  <!-- </li> -->
<% end %>

</div>