<%= form_for(resource, as: resource_name, validate:true, url: session_path(resource_name), remote: true) do |f| %>
    
  <div class="form-group">
    <%= f.label :Email %>
    <%= f.email_field :email, placeholder:"E-mail", class: "form-control" %>
  </div>
  

  <!-- <md-input-container class="md-block md-accent">
    <label>Email</label>
    <%= f.text_field :email %>
  </md-input-container> -->


  <div class="form-group">
    <%= f.label :Password %>
    <%= f.password_field :password, placeholder:"Password", class: "form-control"  %>
  </div>
  <div class="terms-condition">
    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "Forgot your password?", new_password_path(resource_name), remote: true %>
    <% end -%>
  </div>

  <div class="text-center">
    <%= f.submit "Sign In", class: "btn btn-default"%>
  </div>

<% end %>
