<!-- page to sign in new users -->

<div class="formlogin">


  
  <div class="row", id="row1">
   
  <div class="col-md-6", id="mainrow">
  <br><br><br><br>
  <div class="mainrow1">
  <div id="formlogo"><%= image_tag "Group.png" %>   THE LENSE</div>

  <br><br><br><br><br>
  <div id="formtext">Your favourites on the web, perfectly organized and curated</div>
  <br><br><br><br><br><br><br>
  <ul class="formlistbullet">
  
  <li> Another bullet point enticing users to sign up</li>
  <br><br><li>One last benefit of the platform</li>
  <br><br><li> Express your ideas by curating your something</li>
  </ul>
</div>
  </div>

  


<div class="col-md-6", id="SignOut">
   
  <div class="logmod">
  <div class="logmod__wrapper">
    
    <div class="logmod__container">
      <ul class="logmod__tabs">
        <li data-tabtar="lgm-2"><a href="/users/sign_in">Login</a></li>
        <li data-tabtar="lgm-1"><a href="/users/sign_in">Sign Up</a></li>
      </ul>
      <div class="logmod__tab-wrapper">
      <div class="logmod__tab lgm-1">
        <div class="logmod__heading">
        <%= form_for(resource, as: resource_name, :validate => true, url: registration_path(resource_name)) do |f| %>
          
          <span class="logmod__heading-subtitle">Enter your personal details <strong>to create an acount</strong></span>
        </div>

        <div class="logmod__form">
          <form accept-charset="utf-8" action="#" class="simform">
            <div class="sminputs">
              <div class="input full">
                <!-- <label class="string optional" for="user-name">Email*</label> -->
               <%= f.email_field :email, placeholder:"Email", required:true %>
              </div>
            </div>
            <br>
            <div class="sminputs">
              <div class="input full">
                <!-- <label class="string optional" for="user-name">Username*</label> -->
              <%= f.text_field :username , placeholder:"Username",required:true %> 
              </div>
              </div>
              <br>
            <div class="sminputs">
              <div class="input full">
                <!-- <label class="string optional" for="user-name">Username*</label> -->
              <%= f.text_field :author , placeholder:"2 Words About Yourself" %> 
              </div>
            </div>
              <br>
            <div class="sminputs">
              <div class="input full">
                <!-- <label class="string optional" for="user-pw">Password *</label> -->
               <%= f.password_field :password, placeholder:"Password" %>
              </div>
              </div>
              <br>
              <div class="sminputs">
              <div class="input full">
                <!-- <label class="string optional" for="user-pw-repeat">Repeat password *</label> -->
               <%= f.password_field :password_confirmation, placeholder:"Confirm Password" %>
              </div>
            </div>
*
            <div class="simform__actions">
              <%= f.submit "Sign Up", id:"actions1" %>
              <span class="simform__actions-sidetext">By creating an account you agree to our Terms & Privacy</span>
            </div> 
           <% end %> 
          </form>
        </div> 
        

      </div>
      <div class="logmod__tab lgm-2">
      <%= form_for(resource, as: resource_name, validate:true, url: session_path(resource_name)) do |f| %>
      
        <div class="logmod__heading">
          <span class="logmod__heading-subtitle">Enter your email and password <strong>to sign in</strong></span>
        </div> 
        <div class="logmod__form">
          <form accept-charset="utf-8" action="#" class="simform">
            <div class="sminputs">
              <div class="input full">
                
                <%= f.email_field :email, placeholder:"Email" %>              </div>
            </div>
            <br>
            <div class="sminputs">

            </div>
            <div class="sminputs">
              <div class="input full">
                <%= f.password_field :password, placeholder:"Password" %>
                            <span class="hide-password">Show</span>
              </div>
            </div>
            <div class="simform__actions">
              <%= f.submit "Sign In", id:"actions1" %>
              <a class="special" role="link" href="/users/password/new"> <span class="simform__actions-sidetext">Forgot your password?<br>Click here</span></a>
            </div> 
            <% end %>
          </form>
        </div> 
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>

  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script src="js/index.js"></script>



<script type="text/javascript">

var LoginModalController = {
    tabsElementName: ".logmod__tabs li",
    tabElementName: ".logmod__tab",
    inputElementsName: ".logmod__form .input",
    hidePasswordName: ".hide-password",
    
    inputElements: null,
    tabsElement: null,
    tabElement: null,
    hidePassword: null,
    
    activeTab: null,
    tabSelection: 0, // 0 - first, 1 - second
    
    findElements: function () {
        var base = this;
        
        base.tabsElement = $(base.tabsElementName);
        base.tabElement = $(base.tabElementName);
        base.inputElements = $(base.inputElementsName);
        base.hidePassword = $(base.hidePasswordName);
        
        return base;
    },
    
    setState: function (state) {
      var base = this,
            elem = null;
        
        if (!state) {
            state = 0;
        }
        
        if (base.tabsElement) {
          elem = $(base.tabsElement[state]);
            elem.addClass("current");
            $("." + elem.attr("data-tabtar")).addClass("show");
        }
  
        return base;
    },
    
    getActiveTab: function () {
        var base = this;
        
        base.tabsElement.each(function (i, el) {
           if ($(el).hasClass("current")) {
               base.activeTab = $(el);
           }
        });
        
        return base;
    },
   
    addClickEvents: function () {
      var base = this;
        
        base.hidePassword.on("click", function (e) {
            var $this = $(this),
                $pwInput = $this.prev("input");
            
            if ($pwInput.attr("type") == "password") {
                $pwInput.attr("type", "text");
                $this.text("Hide");
            } else {
                $pwInput.attr("type", "password");
                $this.text("Show");
            }
        });
 
        base.tabsElement.on("click", function (e) {
            var targetTab = $(this).attr("data-tabtar");
            
            e.preventDefault();
            base.activeTab.removeClass("current");
            base.activeTab = $(this);
            base.activeTab.addClass("current");
            
            base.tabElement.each(function (i, el) {
                el = $(el);
                el.removeClass("show");
                if (el.hasClass(targetTab)) {
                    el.addClass("show");
                }
            });
        });
        
        base.inputElements.find("label").on("click", function (e) {
           var $this = $(this),
               $input = $this.next("input");
            
            $input.focus();
        });
        
        return base;
    },
    
    initialize: function () {
        var base = this;
        
        base.findElements().setState().getActiveTab().addClickEvents();
    }
};

$(document).ready(function() {
    LoginModalController.initialize();
});

setTimeout(function() {
 $('.message').fadeOut();
}, 10000 );


</script>


<!-- <script type="text/javascript">
$(document).ready(function(){
    $("#sihe").click(function(){
        $("#SignIn").show();
        $("#SignOut").hide();
    });
    $("#sihu").click(function(){
        $("#SignOut").show();
        $("#SignIn").hide();
    });
});
</script> -->