<div class="form-group">
  <%= f.label :avatar %>
  <%= f.file_field :avatar, class: "form-control" %>
</div>

<% if @user.email.blank? %>
  <md-input-container class="md-block">
    <label>Email</label>
    <%= f.text_field :email %>
  </md-input-container>
<% end %>


<md-input-container class="md-block">
  <label>Username</label>
  <%= f.text_field :username %>
</md-input-container>

<md-input-container class="md-block">
  <label>Name</label>
  <%= f.text_field :name %>
</md-input-container>

<md-input-container class="md-block">
  <label>Edit Description</label>
  <%= f.text_field :author %>
</md-input-container>

<md-button>
  <a class="sign-up-link sign-up-cat">Next</a>
</md-button>


    <!-- <% if @user.email.blank? %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, placeholder: "Email", autofocus: true, class: "form-control" %>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :username %>
      <%= f.text_field :username, placeholder: "Username", autofocus: true, required: "required", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: "Name", autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :author, placeholder: "Description", autofocus: true, required: "required", class: "form-control" %>
    </div>
    
     <div class="col-md-12 checkbox-list">
      <%= f.label :categories %>
      <%= f.collection_check_boxes :categories_ids, Category.all, :category_name, :category_name %> 
    </div> 
   


    <div class="text-center">
      <a class="sign-up-link sign-up-cat">Next</a>
    </div> -->


