<div class="form-group">
  <%= f.label :avatar %>
  <%= f.file_field :avatar, class: "form-control" %>
</div>

<% if @user.email.blank? %>
  <md-input-container class="md-block">
    <label>Email</label>
    <%= f.text_field :email %>
  </md-input-container>
<% end %>


<md-input-container class="md-block md-accent">
  <label>Username</label>
  <%= f.text_field :username %>
</md-input-container>

<md-input-container class="md-block md-accent">
  <label>Name</label>
  <%= f.text_field :name %>
</md-input-container>

<md-input-container class="md-block md-accent">
  <label class="md-required" for="user_author">About Yourself</label>
  <input required="required" type="text" value="" name="user[author]" id="user_author" class="md-input" required>  
</md-input-container>

<p>
  '*' required fields.
</p>

<a class="sign-up-link sign-up-cat">
  <md-button class="md-accent md-hue-1 md-raised md-dark">Next</md-button>
</a>