<%= form_for @user, html: { id: "sign_up_edit" } do |f| %>

    <div class="form-group">
        <%= f.label :avatar %>
        <%= f.file_field :avatar, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, placeholder: "Email", autofocus: true,  class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :username %>
      <%= f.text_field :username, placeholder: "Username", autofocus: true, required: "required", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :fname, placeholder: "First Name", autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :lname, placeholder: "Last Name", autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :author %>
      <%= f.text_field :author, placeholder: "Author", autofocus: true,  class: "form-control" %>
    </div>

    <div class="text-center">
      <a class="sign-up-link btn btn-default sign-up-cat">Next</a>
    </div>

<% end %>