<div class="modal fade custom-modal" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel">
  <div class="modal-dialog modal-md" role="document" ng-controller="EditUserCtrl" ng-init="init(<%= @user.to_json %>)">
    
    <%= form_for @user, html: { id: "sign_up_edit" } do |f| %>
    
    <div class="modal-content sign-in-with-email">
      <div class="modal-header">
        <!-- Header content for sign in with email -->
        <div class="sign-in-with-email">
          <div class="email-title head-title-modal">
            Almost There 
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="sign-up-title">
          <div class="preview">
            <% if @user.photo_url.present? %>
                <%= image_tag @user.photo_url, alt: 'profile photo', align:"middle" %>
            <% end %>
          </div>

        </div>
        <div class="form" id="sign-up-form">
          <%= render partial: "edit", :locals => {:f => f} %>
        </div>
      </div>
    </div>

    <div class="modal-content edit-user-category">
      <div class="modal-header">
        <!-- Header content for sign in with email -->
        <div class="edit-user-category">
          <div class="email-title head-title-modal">
            <br><br>
            Choose Category
          </div>
        </div>
      </div>
      <div class="modal-body">
        <br><br>
        <p class=""> Select minimum 3 categories of your choice:</p>    
          <md-list ng-repeat="item in categories">
            <md-list-item>
              <p class="md-subhead text-modal-body">{{item.split("_").join(" ")}}</p>              
              <md-checkbox ng-checked="exists(item, user_categories)" ng-click="toggle(item, user_categories)" ng-cloak>                
              </md-checkbox>
            </md-list-item>
          </md-list>

        <md-divider></md-divider>
        
         <!-- <% Category.all.each do |c| %>
            
            <md-list>
              <md-list-item>
                <p class="md-subhead text-modal-body"><%= c.category_name.capitalize %></p>
                <md-checkbox class="md-secondary"></md-checkbox>
              </md-list-item>
            </md-list>
          <% end %>
        <% end %> -->
        <br>
        
        <md-button class="md-accent md-raised md-hue-1 sign-up-cat" ng-disabled="checkBoxValidation()" onclick="document.getElementById('sign_up_edit').submit();" ng-click="UpdateCategory()" data-dismiss="modal">Finish</md-button>
        <br><br>
      </div>

  </div>
</div>

<% if @user.provider != "email" %>
  <script type="text/javascript">
    
    mixpanel.track("Sign Up Initiated", {        
      "Authentication Method": '<%= @user.provider %>',      
    });

    mixpanel.track("Sign Up Email Confirmed", {        
      "Authentication Method": '<%= @user.provider %>',
      "email": '<%= @user.email %>'        
    });

  </script>
<% end %>

<% if @user.provider == "email" %>
  <script type="text/javascript">
    mixpanel.track("Sign Up Email Confirmed", {        
      "Authentication Method": '<%= @user.provider %>',
      "email": '<%= @user.email %>'        
    });
  </script>
<% end %>

<script>

  $(document).ready(function () {
      $("#editUserModal").modal({
          keyboard: false,
          backdrop: 'static'
      });

      $('#user_username').trigger('input');
      $('#user_email').trigger('input');
  })

</script>

<script>
    $( document ).ready(function() {
        $('.edit-user-category').hide();
        $( '.sign-up-link' ).click(function() {
            $('.sign-in-with-email').hide();
            $('.edit-user-category').show();
        });
        $( '.sign-up-back' ).click(function() {
            $('.edit-user-category').hide();
            $('.sign-in-with-email').show();

        });
    });

</script>
