<div class="modal fade custom-modal" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel">
  <div class="modal-dialog modal-md" role="document">
    
    <%= form_for @user, html: { id: "sign_up_edit" } do |f| %>
    
    <div class="modal-content sign-in-with-email">
      <div class="modal-header">
        <!-- Header content for sign in with email -->
        <div class="sign-in-with-email">
          <div class="email-title head-title-modal">
            Almost There
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="sign-up-title">
          <div class="preview">
            <% if @user.photo_url.present? %>
                <%= image_tag @user.photo_url, alt: 'profile photo', align:"middle" %>
            <% end %>
          </div>

        </div>
        <div class="form" id="sign-up-form">
          <%= render partial: "edit", :locals => {:f => f} %>
        </div>
      </div>
    </div>

    <div class="modal-content edit-user-category">
      <div class="modal-header">
        <!-- Header content for sign in with email -->
        <div class="edit-user-category">
          <div class="email-title head-title-modal">
            <br><br>
            Choose Category
          </div>
        </div>
      </div>
      <div class="modal-body">
        <br><br>
        <p class="md-subhead text-modal-body">Pick some topics you are interested in</p>
        <div class="form-group">
          <%= f.label :categories %>
          <%= f.collection_check_boxes :categories_ids, Category.all, :category_name, :category_name %>
        </div>

        <md-divider></md-divider>
        
         <!-- <% Category.all.each do |c| %>
            
            <md-list>
              <md-list-item>
                <p class="md-subhead text-modal-body"><%= c.category_name.capitalize %></p>
                <md-checkbox class="md-secondary"></md-checkbox>
              </md-list-item>
            </md-list>
          <% end %>
        <% end %> -->
        <br>
        
        <md-button class="md-accent md-raised md-hue-1 sign-up-cat" onclick="document.getElementById('sign_up_edit').submit();">Finish</md-button>
        <br><br>
      </div>

  </div>
</div>

<script>

  $(document).ready(function () {
      $("#editUserModal").modal({
          keyboard: false,
          backdrop: 'static'
      });

      $('#user_username').trigger('input');
      $('#user_email').trigger('input');
  })

</script>

<script>
    $( document ).ready(function() {
        $('.edit-user-category').hide();
        $( '.sign-up-link' ).click(function() {
            $('.sign-in-with-email').hide();
            $('.edit-user-category').show();
        });
        $( '.sign-up-back' ).click(function() {
            $('.edit-user-category').hide();
            $('.sign-in-with-email').show();

        });
    });

</script>
