<div class="modal fade custom-modal" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content sign-in-with-email">
      <div class="modal-header">
        <!-- Header content for sign in with email -->
        <div class="sign-in-with-email">
          <div class="email-title">
            Almost There
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="sign-up-title">

          <div class="preview">
            <% if @user.photo_url.present? %>
                <%= image_tag @user.photo_url, id:"useravatar", alt: 'profile photo' %>
            <% end %>
          </div>

        </div>
        <div class="form" id="sign-up-form">
          <%= render partial: "edit" %>
        </div>
      </div>
    </div>

    <div class="modal-content edit-user-category">
      <div class="modal-header">
        <!-- Header content for sign in with email -->
        <div class="edit-user-category">
          <div class="email-title">
            Choose Category
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div id="category_edit">
          <p class="cat-title">Pick some topics you are interested in</p>
          <%= form_for @user do |f| %>
          
          <div class="col-md-12 checkbox-list">
            <%= f.label :categories %>
            <%= f.collection_check_boxes :categories_ids, Category.all, :category_name, :category_name %>   
          </div>
          <% end %>

          <!-- <div class="row cat-row">
            <div class="col-md-3 cat-col" style="background-color: plum"><p class="cat-text">Category 1</p></div>
            <div class="col-md-3 cat-col" style="background-color: cornflowerblue"><p class="cat-text">Category 2</p></div>
            <div class="col-md-3 cat-col" style="background-color: lightsalmon"><p class="cat-text">Category 3</p></div>
            <div class="col-md-3 cat-col" style="background-color: lavender"><p class="cat-text">Category 4</p></div>
          </div>
          <div class="row cat-row">
            <div class="col-md-3 cat-col" style="background-color: lavender"><p class="cat-text">Category 5</p></div>
            <div class="col-md-3 cat-col" style="background-color: lightsalmon"><p class="cat-text">Category 6</p></div>
            <div class="col-md-3 cat-col" style="background-color: cornflowerblue"><p class="cat-text">Category 7</p></div>
            <div class="col-md-3 cat-col" style="background-color: plum"><p class="cat-text">Category 8</p></div>
          </div>
        </div>
        <div class="text-center">
          <a class="sign-up-back sign-up-cat  btn btn-default">Back</a> -->
          <input type='button' class="btn btn-default sign-up-cat" onclick="document.getElementById('sign_up_edit').submit();" value="Finish">
        </div>
      </div>
    </div>

  </div>
</div>

<script>

  $(document).ready(function () {
      $("#editUserModal").modal({
          keyboard: false,
          backdrop: 'static'
      });

      $('#user_username').trigger('input');
      $('#user_email').trigger('input');
  })

</script>

<script>
    $( document ).ready(function() {
        $('.edit-user-category').hide();
        $( '.sign-up-link' ).click(function() {
            $('.sign-in-with-email').hide();
            $('.edit-user-category').show();
        });
        $( '.sign-up-back' ).click(function() {
            $('.edit-user-category').hide();
            $('.sign-in-with-email').show();

        });
    });

</script>
