
<br>

<div class="maincont">



<% if user_signed_in? %>
  <div id="follow_user">
    <%= render :partial => "follows/follow_user", :locals => {:user => @user} %>
  </div>
<% end %>

</div>

<div class="col-md-10" id="userProfile">
<div id="username">
	<i class="material-icons md-120">account_circle</i>
	<div id="userDescription">
		<h4><%= @user.username  %></h4>
		<h5><%= @user.author  %></h5>		
	</div>
</div>



<% if current_user.username == @user.username %>


<div class="userStats">
<div class="formlist">
<ul class="count">
	<li><%= Form.where(user_id:current_user.id, publish:true).count %></li>
	<li><%= Form.where(user_id:current_user.id, publish:false).count %></li>
	<li><%= Form.where(id: current_user.find_up_voted_items).count %></li>
</ul>



<ul class="board">
	<li><%= link_to 'Published', publish_path, id:"board" %></li>
	<li><%= link_to 'Drafts', drafts_path, id:"board1" %></li>
	<li><%= link_to 'Saved', saved_path, id:"board2" %></li>
</ul>
</div>

<ul class="followers">
	<li id="following1"><%= current_user.all_following.count %> Following</li>
	<li></li>
	<li id="followers1"><%= current_user.followers.count %> Followers</li>
</ul>
</div>
</div>
</div>

<% else %>

<div class="userStats">
<div class="formlist">
<ul class="count">
	<li></li>
	<li><%= Form.all.where("user_id = ?",User.find_by_username(params[:id]).id ).where(publish:true, bookmark:true).count %></li>
	<li></li>
</ul>

<ul class="board">
	<li></li>
	<li><a href= "/user/<%= @user.username  %>/publish", id="board1">Published & Saved</a></li>
	<li></li>
</ul>

<ul class="followers">
	<li><div id="following"><%= @user.all_following.count %></div>Following</li>
	<li></li>
	<li><div id="followers"><%= @user.followers.count %></div> Followers</li>
</ul>
</div>
</div>

<% end %>


<%= render 'static_pages/boards'%>


</div>


</div>
