<md-content flex ng-controller="UsersCtrl" ng-init="init(<%= @user.to_json %>, <%= current_user.to_json %>)">
  <br><br>
  <div layout="row" class="boardContainer" layout-xs="column">
    <div flex="40" flex-xs="100">
      <md-list>
        <md-list-item hide-xs class="profile-name-img">
          <p style="text-align: left">
            <b style="font-size:32px"><%= @user.name.capitalize  %></b><br><br>
            <%= @user.author %><br>
            <br>
            <% unless @user == current_user %>
              <md-button class="md-raised md-accent"  ng-show="is_following" ng-click="is_following = false; unfollow(<%= @user.id%>, <%= current_user.id%>)">Following</md-button>  
              <md-button class="md-raised md-accent"  ng-hide="is_following" ng-click="is_following = true; follow(<%= @user.id%>, <%= current_user.id%>);">Follow</md-button>
            <% end %>
          </p> 
        </md-list-item>
        <md-list-item hide-xs>
          <div flex="30" ng-click="showDialog1($event)">
              <b><%= current_user.all_following.count %></b> Following
          </div>              
          <div flex="30" ng-click="showDialog2($event)">
            <b><%= current_user.followers.count %></b> Followers
          </div>
        </md-list-item>
        <md-list-item hide-sm hide-md hide-lg layout="row" class="profile-name-img-mobile">
          <div flex="60" layout="column">
            <div flex="100"><h3><%= @user.name.capitalize  %></h4></div>
            <div flex="100" class="user_author_mobile">
              <p>
                <%= @user.author %>
              </p>
            </div>
          </div>
          <div flex="35">
            <% if @user.photo_url.present? %>
              <%= image_tag @user.photo_url, id:"profile-header", align:"top" %>
            <% else %>
              <i class="material-icons md-120">account_circle</i>
            <% end %>
          </div>
          <div flex="5"></div>
        </md-list-item>
        <% unless @user == current_user %>
          <md-list-item hide-md hide-lg hide-sm class="tabs-mobile-follow"  id="fixed-padding">
            
            <md-button class="md-raised md-accent" ng-show="is_following" ng-click="is_following = false; unfollow(<%= @user.id%>, <%= current_user.id%>)">Following</md-button>  
            <md-button class="md-raised md-accent" ng-hide="is_following" ng-click="is_following = true; follow(<%= @user.id%>, <%= current_user.id%>);">Follow</md-button>
          
          </md-list-item>
        <% end %>
      </md-list>
    </div>
    <div flex="50" flex-xs="100" class="profile-right-page" id="fixed-padding">
      <div layout="row" layout-xs="column">
        <div hide-md hide-lg hide-sm flex-xs="100" layout="row" class="spacing-left">
          <div flex-xs="80" layout="row" class="following_mobile">
            <div flex="40" ng-click="showDialog1($event)"><b><%= current_user.all_following.count %></b> Following</div>
            <div flex="40" ng-click="showDialog2($event)"><b><%= current_user.followers.count %></b> Followers</div>
          </div>
        </div>

        <div hide-md hide-lg hide-sm flex-xs="100" layout="row" id="fixed-padding">
          <md-divider></md-divider>
          <div flex="100" class="spacing-left">
            <md-tabs md-dynamic-height md-selected="1">
              <md-tab>
                <% if current_user.username == @user.username %>
                  <a href="/<%= current_user.username %>/published">Published</a></u>
                <% end %>
              </md-tab>
              <md-tab>
                <% if current_user.username == @user.username %>
                  <a href="/<%= current_user.username %>/drafts">Drafts</a>
                <% end %>
              </md-tab>
              <md-tab>
                <% if current_user.username == @user.username %>
                  <a href="/<%= current_user.username %>/saved">Saved</a>
                <% end %>
              </md-tab>
            </md-tabs>
          </div>
        </div>
          
        <div hide-xs flex="20"></div>
        <div hide-xs flex="20"></div>
        <div hide-xs flex="20"></div>
        <div hide-xs flex="20"></div>
        <div hide-xs flex="20">
          <% if @user.photo_url.present? %>
            <%= image_tag @user.photo_url, id:"profile-header" %>
          <% else %>
            <i class="material-icons md-120 color-grey">account_circle</i>
          <% end %>
        </div>
        <!-- <div hide-xs flex="20">
          <% if current_user.username == @user.username %>
            <%= Form.drafts.where(user_id:current_user.id).count %>
          <% else %>
          <% end %>
        </div>
        <div hide-xs flex="20">
          <% if current_user.username == @user.username %>
            <%= current_user.bookmarks.count %>
          <% end %>
        </div>
        <div hide-xs flex="20"></div> -->
      </div>
      <br>
      <!-- <div hide-xs hide-md hide-lg layout="row">
        <div flex="20"></div>
        <div flex="20">
          <% if current_user.username == @user.username %>
            <a href="/<%= current_user.username %>/published">Published</a>
          <% end %>
        </div>
        <div flex="20"> 
          <% if current_user.username == @user.username %>
            <u><a href="/<%= current_user.username %>/drafts">Drafts</a></u>
          <% end %>
        </div>
        <div flex="20">
          <% if current_user.username == @user.username %>
            <a href="/<%= current_user.username %>/saved">Saved</a>
          <% end %>
        </div>
        <div flex="20"></div>
      </div>
      <br>
      <div hide-xs hide-md hide-lg layout="row">
        <div flex="20"></div>
        <div flex>
          <hr>
        </div>
        <div flex="20"></div>
      </div>
      <br> -->
      
      <!-- <div hide-xs layout="row">
        <div flex="20"></div>
        <div flex>
          <% if current_user.username == @user.username %>
            <%= current_user.all_following.count %>
          <% end %>
        </div>
        <div flex>
          <% if current_user.username == @user.username %>
            <%= current_user.followers.count %>
          <% end %>
        </div>
        <div flex="20"></div>
      </div> -->

      <br>
      <!-- <div hide-xs hide-sm layout="row">
        <div flex="20"></div>
        <div flex>
          <% if current_user.username == @user.username %>
            <md-button class="md-raised md-accent" data-toggle="modal" data-target="#myModal1" ng-click="get_followings(<%= current_user.id %>, <%= @user.id%>)">Following</md-button>
          <% end %>
        </div>
        <div flex>
          <% if current_user.username == @user.username %>
            <md-button class="md-raised md-accent" data-toggle="modal" data-target="#myModal2" ng-click="get_followers(<%= current_user.id %>, <%= @user.id%>)">Followers</md-button>
          <% end %>
        </div>
        <div flex="20"></div>
      </div> -->
    </div>
  </div>
  <div layout="row" class="boardContainer">
    <div hide-xs style="margin-left:16px"></div>
    <div hide-xs flex="60">
      <md-tabs md-dynamic-height md-selected="1">
        <md-tab>
          <% if current_user.username == @user.username %>
            <a href="/<%= current_user.username %>/published">Published</a></u>
          <% else %>
            <a href="/<%= @user.username %>/published">Published</a></u>
          <% end %>
        </md-tab>
        <md-tab>
          <% if current_user.username == @user.username %>
            <a href="/<%= current_user.username %>/drafts">Drafts</a>
          <% end %>
        </md-tab>
        <md-tab>
          <% if current_user.username == @user.username %>
            <a href="/<%= current_user.username %>/saved">Saved</a>
          <% else %>
            <a href="/<%= @user.username %>/liked">Liked</a>
          <% end %>
        </md-tab>
      </md-tabs>
    </div>
  </div>

  <md-divider></md-divider>


  <div id="forms">
    <%= render 'static_pages/draft_boards'%>
  </div>
  <div style="visibility: hidden">
    <div class="md-dialog-container" id="myModal1">
      <md-dialog flex="40" ng-controller="getFollowingsController" ng-init="init(<%= current_user.id %>, <%= @user.id%>)">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2><%= @user.username %> follows</h2>
            <span flex></span>            
          </div>
        </md-toolbar>
        <md-dialog-content>
          <div class="md-dialog-content">
            <div class="follwo">
              <% if current_user.username == @user.username %>
                <md-list flex>
                  <md-list-item class="md-3-line" ng-if="followings.length == 0" ng-click="null">
                    <h3>You follows no one</h3>
                  </md-list-item>
                </md-list>            
                <md-list flex>                  
                  <md-list-item ng-href="/{{following.username}}/published" class="md-3-line" ng-repeat="following in followings" ng-click="null">
                    <div class="user-avatar" ng-if="!(following.image == null)" style='background-image:url("{{following.image}}")'></div>
                    <i class="material-icons color-grey" style="font-size:40px;" ng-if="(following.image == null)">account_circle</i>
                    <p id="followers_padding">{{following.username | capitalize}}
                    </p>
                    <md-button class="md-raised md-accent" ng-show="following.following" type="button" ng-click="following.following = false; unfollow(following.id, <%= current_user.id%>)" style="z-index: 1000">Following
                    </md-button>
                    <md-button class="md-raised md-accent" ng-hide="following.following" type="button" ng-click="following.following = true; follow(following.id, <%= current_user.id%>)" style="z-index: 1000">Follow
                    </md-button>
                  </md-list-item>
                </md-list>
              <% end %>
            </div>
          </div>
        </md-dialog-content>
      </md-dialog>
    </div>
  </div>
  <div style="visibility: hidden">
    <div class="md-dialog-container" id="myModal2">
      <md-dialog flex="40" ng-controller="getFollowersController" ng-init="init(<%= current_user.id %>, <%= @user.id%>)">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2><%= @user.username %> is followed by</h2>
            <span flex></span>            
          </div>
        </md-toolbar>
        <md-dialog-content>
          <div class="md-dialog-content">
            <div class="follwo">
              <% if current_user.username == @user.username %>
                <md-list flex>
                  <md-list-item class="md-3-line" ng-if="followers.length == 0" ng-click="null">
                    <h3>There are no followers</h3>
                  </md-list-item>
                </md-list>            
                <md-list flex>                  
                  <md-list-item ng-href="/{{follower.username}}/published" class="md-3-line" ng-repeat="follower in followers" ng-click="null">
                    <div class="user-avatar" ng-if="!(follower.image == null)" style='background-image:url("{{follower.image}}")'></div>
                    <i class="material-icons color-grey" style="font-size:40px;" ng-if="(follower.image == null)">account_circle</i>
                    <p id="followers_padding">{{follower.username | capitalize}}
                    </p>
                    <md-button class="md-raised md-accent" ng-show="follower.following" type="button" ng-click="follower.following = false; unfollow(follower.id, <%= current_user.id%>)" style="z-index: 1000">Following
                    </md-button>
                    <md-button class="md-raised md-accent" ng-hide="follower.following" type="button" ng-click="follower.following = true; follow(follower.id, <%= current_user.id%>)" style="z-index: 1000">Follow
                    </md-button>                    
                  </md-list-item>
                </md-list>
              <% end %>
            </div>
          </div>
        </md-dialog-content>
      </md-dialog>
    </div>
  </div>
</md-content>

<style type="text/css">
  md-tab-item a
  {
    color: rgba(0,0,0,0.54);
  }

  md-tab-item a:hover
  {
    color: rgba(0,0,0,0.54);
  }
</style>