<md-content flex class="maincont" ng-controller="UsersCtrl" ng-init="init(<%= @user.to_json %>, <%= current_user.to_json %>)">
  
  <div layout="row">
    <div flex="10"></div>
    <div flex="20">
      <md-list>
        <md-list-item class="profile-name-img">
          <% if @user.photo_url.present? %>
            <%= image_tag @user.photo_url, id:"profile-header" %>
          <% else %>
            <i class="material-icons md-120">account_circle</i>
          <% end %>
            <p>
              <b><%= @user.username  %></b><br>
              <%= @user.author  %><br>
              <% unless @user == current_user %>
                <md-button class="md-raised md-primary" id="follow"  ng-show="is_following" ng-click="is_following = false; unfollow(<%= @user.id%>, <%= current_user.id%>)">Following</md-button>  
                <md-button class="md-raised md-primary" id="follow"  ng-hide="is_following" ng-click="is_following = true; follow(<%= @user.id%>, <%= current_user.id%>);">Follow</md-button>
              <% end %>
            </p> 
        </md-list-item>
      </md-list>
    </div>

    <div flex="20"></div>
    <div flex="50" class="profile-right-page">
      <div layout="row">
        <div flex="20"></div>
        <div flex="20">
          <% if current_user.username == @user.username %>
            <%= Form.published.where(user_id:current_user.id).count %>
          <% end %>
        </div>
        <div flex="20">
          <% if current_user.username == @user.username %>
            <%= Form.drafts.where(user_id:current_user.id).count %>
          <% end %>
        </div>
        <div flex="20">
          <% if current_user.username == @user.username %>
            <%= current_user.bookmarks.count %>
          <% end %>
        </div>
        <div flex="20"></div>
      </div>
      <br>
      <div layout="row">
        <div flex="20"></div>
        <div flex="20">
          <% if current_user.username == @user.username %>
            <a href="/<%= current_user.username %>/published">Published</a>
          <% end %>
        </div>
        <div flex="20"> 
          <% if current_user.username == @user.username %>
            <a href="/<%= current_user.username %>/drafts">Drafts</a>
          <% end %>
        </div>
        <div flex="20">
          <% if current_user.username == @user.username %>
            <u><a href="/<%= current_user.username %>/saved">Saved</a></u>
          <% end %>
        </div>
        <div flex="20"></div>
      </div>
      <br>
      <div layout="row">
        <div flex="20"></div>
        <div flex>
          <hr>
        </div>
        <div flex="20"></div>
      </div>
      <br>
      <div layout="row">
        <div flex="20"></div>
        <div flex>
          <% if current_user.username == @user.username %>
            <%= current_user.all_following.count %>
          <% end %>
        </div>
        <div flex>
          <% if current_user.username == @user.username %>
            <%= current_user.followers.count %>
          <% end %>
        </div>
        <div flex="20"></div>
      </div>
      <br>
      <div layout="row">
        <div flex="20"></div>
        <div flex>
          <% if current_user.username == @user.username %>
            <md-button class="md-raised md-primary" id="follow" data-toggle="modal" data-target="#myModal1" ng-click="get_followings(<%= current_user.id %>, <%= @user.id%>)">Following</md-button>
          <% end %>
        </div>
        <div flex>
          <% if current_user.username == @user.username %>
            <md-button class="md-raised md-primary" id="follow" data-toggle="modal" data-target="#myModal2" ng-click="get_followers(<%= current_user.id %>, <%= @user.id%>)">Followers</md-button>
          <% end %>
        </div>
        <div flex="20"></div>
      </div>
    </div>
  </div>
  <br>
  <md-divider></md-divider>

  <div id="forms">
    <%= render 'static_pages/saved_boards'%>
  </div>
  <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog"> 
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><%= @user.username %> follows</h4>
        </div>
        <div class="modal-body">
          <div class="follow">
            <% if current_user.username == @user.username %>              
              <ul style="margin: 10px 30px; list-style: none ">
                <li ng-if="followings.length == 0">
                  <h3>You follows no one</h3>
                </li>
                <li ng-repeat="following in followings">
                  <div class="row" style="width: 100%; margin-bottom: 20px">
                    <div class="col-md-2" style="text-align: right">
                      <a href="/{{following.username}}/published">
                        <div class="user-avatar" ng-if="!(following.image == null)" style='background-image:url("{{following.image}}")'></div>
                        <i class="material-icons" style="font-size: 30px" ng-if="(following.image == null)">account_circle</i>
                      </a>
                    </div>                      
                    <div class="col-md-6" style="text-align: left; padding-left: 0px; padding-top: 2px">
                      <a href="/{{following.username}}/published" style="font-size: 18px; color: black">
                        {{following.username}}
                      </a>
                    </div>
                    <div class="col-md-4">
                      <button ng-show="following.following" type="button" class="btn btn-info btn-sm" ng-click="following.following = false; unfollow(following.id, <%= current_user.id%>)">Following
                      </button>
                      <button ng-hide="following.following" type="button" class="btn btn-default btn-sm" ng-click="following.following = true; follow(following.id, <%= current_user.id%>)">Follow
                      </button>
                    </div>
                  </div>
                </li>
              </ul>
            <% end %>
          </div>
          <br>
          <br>
        </div>        
      </div>
    </div>
  </div>
  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><%= @user.username %> is followed by</h4>
        </div>
        <div class="modal-body">
          <div class="follwo">
            <% if current_user.username == @user.username %>              
              <ul style="margin: 10px 30px; list-style: none ">
                <li ng-if="followers.length == 0">
                  <h3>There are no followers</h3>
                </li>
                <li ng-repeat="follower in followers">
                  <div class="row" style="width: 100%; margin-bottom: 20px">
                    <div class="col-md-2" style="text-align: right">
                      <a href="/{{follower.username}}/published">
                        <div class="user-avatar" ng-if="!(follower.image == null)" style='background-image:url("{{follower.image}}")'></div>
                        <i class="material-icons" ng-if="(follower.image == null)" style="font-size: 30px">account_circle</i>
                      </a>
                    </div>                      
                    <div class="col-md-6" style="text-align: left; padding-left: 0px; padding-top: 2px">
                      <a href="/{{follower.username}}/published" style="font-size: 18px; color: black">
                        {{follower.username}}
                      </a>
                    </div>
                    <div class="col-md-4">
                      <button ng-show="follower.following" type="button" class="btn btn-info btn-sm" ng-click="follower.following = false; unfollow(follower.id, <%= current_user.id%>)">Following
                      </button>
                      <button ng-hide="follower.following" type="button" class="btn btn-default btn-sm" ng-click="follower.following = true; follow(follower.id, <%= current_user.id%>)">Follow
                      </button>
                    </div>
                  </div>
                </li>
              </ul>
            <% end %>
          </div>
        </div>
      </div>        
    </div>
  </div>
</md-content>