<md-content flex ng-controller="UsersCtrl" ng-init="init(<%= @user.to_json %>, <%= current_user.to_json %>, <%= current_user.following?(@user) %>,<%= @user.all_following.count %>, <%= @user.followers.count %>)">
  <br><br>

  <div layout="row" layout-xs="column" class="boardContainer">
    <div flex="20" flex-xs="100">
      <md-list>
        <md-list-item hide-xs class="profile-name-img">
          <p style="text-align: left">
            <b style="font-size:32px"><%= @user.name.capitalize  %></b><br><br>
           <%= @user.author %><br>
            <br>
            <% unless @user == current_user %>
              <md-button class="md-raised md-accent" ng-show="is_following" ng-click="is_following = false; unfollow(<%= @user.id%>, <%= current_user.id%>)">Following</md-button>  
              <md-button class="md-raised md-accent" ng-hide="is_following" ng-click="is_following = true; follow(<%= @user.id%>, <%= current_user.id%>);">Follow</md-button>
            <% end %>
          </p> 
        </md-list-item>
        <md-list-item hide-xs>
          <div flex="40" data-toggle="modal" data-target="#myModal3" ng-click="get_followings(<%= current_user.id %>, <%= @user.id%>)"><b><%= @user.all_following.count %></b> Following</div>
          <div flex="10"></div>
          <div flex="40" data-toggle="modal" data-target="#myModal4" ng-click="get_followers(<%= current_user.id %>, <%= @user.id%>)"><b><%= @user.followers.count %></b> Followers</div>
        </md-list-item>
        <md-list-item hide-sm hide-md hide-lg layout="row" class="profile-name-img-mobile">
          <div flex="60" layout="column">
            <div flex="100"><h3><%= @user.name.capitalize  %></h4></div>
            <div flex="100" class="user_author_mobile">
              <p>
                <%= @user.author %>
              </p>
            </div>
          </div>
          <div flex="35">
            <% if @user.photo_url.present? %>
              <%= image_tag @user.photo_url, id:"profile-header", align:"top" %>
            <% else %>
              <i class="material-icons md-120">account_circle</i>
            <% end %>
          </div>
          <div flex="5"></div>
        </md-list-item>
        <% unless @user == current_user %>
          <md-list-item hide-md hide-lg hide-sm class="tabs-mobile-follow"  id="fixed-padding">
            
            <md-button class="md-raised md-accent" ng-show="is_following" ng-click="is_following = false; unfollow(<%= @user.id%>, <%= current_user.id%>)">Following</md-button>  
            <md-button class="md-raised md-accent" ng-hide="is_following" ng-click="is_following = true; follow(<%= @user.id%>, <%= current_user.id%>);">Follow</md-button>
          
          </md-list-item>
        <% end %>
      </md-list>
    </div>

    <div hide-xs flex="20"></div>
    <div flex="50" flex-xs="100" class="profile-right-page" id="fixed-padding">
      <div layout="row" layout-xs="column">
        <div hide-md hide-lg hide-sm flex-xs="100" layout="row" class="spacing-left">
          <div flex-xs="80" layout="row" class="following_mobile">
            <div flex="40" data-toggle="modal" data-target="#myModal3" ng-click="get_followings(<%= current_user.id %>, <%= @user.id%>)"><b><%= @user.all_following.count %></b> Following</div>
            <div flex="40" data-toggle="modal" data-target="#myModal4" ng-click="get_followers(<%= current_user.id %>, <%= @user.id%>)"><b><%= @user.followers.count %></b> Followers</div>
          </div>
        </div>

        <div hide-md hide-lg hide-sm flex-xs="100" layout="row" id="fixed-padding">
          <md-divider></md-divider>

          <div flex="100" class="spacing-left">
            <md-tabs md-dynamic-height md-selected="2">
              <md-tab>
                <% if current_user.username == @user.username %>
                <% else %>
                  <a href="/<%= @user.username %>/published">Published</a></u>
                <% end %>
              </md-tab>
              <md-tab>
              </md-tab>
              <md-tab>
                <% if current_user.username == @user.username %>
                <% else %>
                  <a href="/<%= @user.username %>/liked">Liked</a>
                <% end %>
              </md-tab>
            </md-tabs>
          </div>
        </div>
          
        
        <div hide-xs flex="20"></div>
        <div hide-xs flex="20"></div>
        <div hide-xs flex="20">
          <% if @user.photo_url.present? %>
            <%= image_tag @user.photo_url, id:"profile-header" %>
          <% else %>
            <i class="material-icons md-120 color-grey">account_circle</i>
          <% end %>
        </div>
        <!-- <div hide-xs flex="20">
        </div>
        <div hide-xs flex="20">
          <% if current_user.username == @user.username %>
          <% else %>
            <%= @user.get_up_voted(Form).count %>
          <% end %>
        </div>
        <div hide-xs flex="20"></div> -->
      </div>
      <br>
      <!-- <div hide-xs layout="row">
        <div flex="20"></div>
        <div flex="20">
          <% if current_user.username == @user.username %>
          <% else %>
            <a href="/<%= @user.username %>/published">Published</a>
          <% end %>
        </div>
        <div flex="20"> 
        </div>
        <div flex="20">
          <% if current_user.username == @user.username %>
          <% else %>
            <u><a href="/<%= @user.username %>/liked">Liked</a></u>
          <% end %>
        </div>
        <div flex="20"></div>
      </div>
      <br>
      <div hide-xs layout="row">
        <div flex="20"></div>
        <div flex>
          <hr>
        </div>
        <div flex="20"></div>
      </div>
      <br>
      
      <div hide-xs layout="row">
        <div flex="20"></div>
        <div flex>
          <% if current_user.username == @user.username %>
          <% else %>
            {{following_count}}
          <% end %>
        </div>
        <div flex>
          <% if current_user.username == @user.username %>
          <% else %>
            {{followers_count}}
          <% end %>
        </div>
        <div flex="20"></div>
      </div>

      <br>
      <div hide-xs hide-sm layout="row">
        <div flex="20"></div>
        <div flex>
          <% if current_user.username == @user.username %>
          <% else %>
            <md-button class="md-raised md-accent" data-toggle="modal" data-target="#myModal3" ng-click="get_followings(<%= current_user.id %>,<%= @user.id %>)">Following</md-button>
          <% end %>
        </div>
        <div flex>
          <% if current_user.username == @user.username %>
          <% else %>
            <md-button class="md-raised md-accent" data-toggle="modal" data-target="#myModal4" ng-click="get_followers(<%= current_user.id %>, <%= @user.id%>)">Followers</md-button>
          <% end %>
        </div>
        <div flex="20"></div>
      </div> -->
    </div>
  </div>
  <div layout="row" class="boardContainer">
    <div hide-xs style="margin-left:16px"></div>
    <div hide-xs flex="60">
      <md-tabs md-dynamic-height  md-selected="2">
        <md-tab>
          <% if current_user.username == @user.username %>
          <% else %>
            <a href="/<%= @user.username %>/published">Published</a></u>
          <% end %>
        </md-tab>
        <md-tab>
        </md-tab>
        <md-tab>
          <% if current_user.username == @user.username %>
          <% else %>
            <a href="/<%= @user.username %>/liked">Liked</a>
          <% end %>
        </md-tab>
      </md-tabs>
    </div>
  </div>

  <md-divider></md-divider>

  <div id="forms">
    <%= render 'static_pages/liked_boards'%>
  </div>
  <div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><%= @user.username %> follows</h4>
        </div>
        <div class="modal-body">
          <div class="follow">
            <% if current_user.username != @user.username %>              
              <ul style="margin: 10px 30px; list-style: none ">
                <li ng-if="followings.length == 0">
                  <h3>User follows no one</h3>
                </li>
                <li ng-repeat="following in followings">
                  <div class="row" style="width: 100%; margin-bottom: 20px">
                    <div class="col-md-2" style="text-align: right">
                      <a href="/{{following.username}}/published">
                        <div class="user-avatar" ng-if="!(following.image == null)" style='background-image:url("{{following.image}}")'></div>
                        <i class="material-icons" style="font-size: 30px" ng-if="(following.image == null)">account_circle</i>
                      </a>
                    </div>                      
                    <div class="col-md-6" style="text-align: left; padding-left: 0px; padding-top: 2px">
                      <a href="/{{following.username}}/published" style="font-size: 18px; color: black">
                        {{following.username}}
                      </a>
                    </div>                    
                    <div class="col-md-4">
                      <div ng-hide="following.id == <%= current_user.id %>">
                        <button ng-show="following.following" type="button" class="btn btn-info btn-sm" ng-click="following.following = false; unfollow(following.id, <%= current_user.id%>)">Following
                        </button>
                        <button ng-hide="following.following" type="button" class="btn btn-default btn-sm" ng-click="following.following = true; follow(following.id, <%= current_user.id%>)">Follow
                        </button>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            <% end %>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="myModal4" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><%= @user.username %> is followed by</h4>
        </div>
        <div class="modal-body">
          <div class="follow">
            <% if current_user.username != @user.username %>
              <ul style="margin: 10px 30px; list-style: none ">
                <li ng-if="followers.length == 0">
                  <h3>There are no followers</h3>
                </li>
                <li ng-repeat="follower in followers">
                  <div class="row" style="width: 100%; margin-bottom: 20px">
                    <div class="col-md-2" style="text-align: right">
                      <a href="/{{follower.username}}/published">
                        <div class="user-avatar" ng-if="!(follower.image == null)" style='background-image:url("{{follower.image}}")'></div>
                        <i class="material-icons" style="font-size: 30px" ng-if="(follower.image == null)">account_circle</i>
                      </a>
                    </div>                      
                    <div class="col-md-6" style="text-align: left; padding-left: 0px; padding-top: 2px">
                      <a href="/{{follower.username}}/published" style="font-size: 18px; color: black">
                        {{follower.username}}
                      </a>                      
                    </div>                    
                    <div class="col-md-4">
                      <div ng-hide="follower.id == <%= current_user.id %>">
                        <button ng-show="follower.following" type="button" class="btn btn-info btn-sm" ng-click="follower.following = false; unfollow(follower.id, <%= current_user.id%>)">Following
                        </button>
                        <button ng-hide="follower.following" type="button" class="btn btn-default btn-sm" ng-click="follower.following = true; follow(follower.id, <%= current_user.id%>)">Follow
                        </button>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            <% end %>
          </div>
          <br>
          <br>
        </div>
      </div>  
    </div>
  </div>
</md-content>

<style type="text/css">
  md-tab-item a
  {
    color: rgba(0,0,0,0.54);
  }

  md-tab-item a:hover
  {
    color: rgba(0,0,0,0.54);
  }
</style>