<div class="maincont" ng-controller="UsersCtrl" ng-init="init(<%= @user.to_json %>, <%= current_user.to_json %>, <%= current_user.following?(@user) %>, <%= @user.all_following.count %>, <%= @user.followers.count %>)">
  <div class="col-md-10" id="userProfile">
    <div id="username">
    	<i class="material-icons md-120">account_circle</i>
    	<div id="userDescription">
    		<h4><%= @user.username  %></h4>
    		<h5><%= @user.author  %></h5>
        <div id="follow_user">
          <% unless @user == current_user %>
            
              <button ng-show="is_following" type="button" class="btn btn-info btn-sm" ng-click="is_following = false; unfollow(<%= @user.id%>, <%= current_user.id%>)">Following
              </button>
            
              <button ng-hide="is_following" type="button" class="btn btn-default btn-sm" ng-click="is_following = true; follow(<%= @user.id%>, <%= current_user.id%>);">Follow
              </button>
            
          <% end %>
        </div>
    	</div>
    </div>
    <% if current_user.username == @user.username %>
      <div class="userStats">
        <div class="formlist">
          <ul class="count">
          	<li><%= Form.published.where(user_id:current_user.id).count %></li>
          	<li><%= Form.drafts.where(user_id:current_user.id).count %></li>
          	<li><%= current_user.bookmarks.count %></li>
          </ul>
          <ul class="board">
          	<li><%= link_to 'Published', "/user/#{current_user.username }/publish", id:"board" %></li>
          	<li><%= link_to 'Drafts', "/user/#{current_user.username }/drafts", id:"board1" %></li>
          	<li><%= link_to 'Saved', "/user/#{current_user.username }/saved", id:"board2" %></li>
          </ul>
        </div>
        <ul class="followers">
        	<li>
            <div id="following1">
              <%= current_user.all_following.count %>
            </div>
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal1" ng-click="get_followings(<%= current_user.id %>, <%= @user.id%>)">Following
            </button>
          </li>
        	<li> 
          </li>
        	<li>
            <div id="followers1">
              <%= current_user.followers.count %>
            </div>
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal2" ng-click="get_followers(<%= current_user.id %>, <%= @user.id%>)">Followers
            </button>
          </li>
        </ul>
      </div>
    <% else %>
      <div class="userStats">
        <div class="formlist">
          <ul class="count">
          	<li></li>
          	<li><%= Form.published.where("user_id = ?",User.find_by_username(params[:id])).count %></li>
            <li><%= @user.get_up_voted(Form).count %></li>
          	<li></li>
          </ul>

          <ul class="board">
          	<li></li>
          	<li><a href= "/user/<%= @user.username  %>/publish", id="board1">Published</a></li>
            <li><a href= "/user/<%= @user.username  %>/liked", id="board1">Liked</a></li>
          	<li></li>
          </ul>
          <ul class="followers">
          	<li><div id="following">{{following_count}}</div>  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal3" ng-click="get_followings(<%= current_user.id %>,<%= @user.id %>)">Following</button>
            </li>
          	<li></li>
          	<li><div id="followers">{{followers_count}}</div>  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal4" ng-click="get_followers(<%= current_user.id %>, <%= @user.id%>)">Followers</button>
            </li>
          </ul>
        </div>
      </div>
    <% end %>    
  </div>
  <div id="forms">
    <%= render 'static_pages/pub_boards' %>
  </div>
  <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog"> follower.id, <%= current_user.id%>
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <div class="follow">
            <% if current_user.username == @user.username %>
              <h2> Following </h2>
              <ul style="margin: 10px 30px; list-style: none ">
                <li ng-repeat="following in followings">
                  <div class="row" style="width: 100%; margin-bottom: 20px">
                    <div class="col-md-2" style="text-align: right">
                      <a href="/user/{{following.username}}/publish">
                        <img src="{{following.image}}" style="height: 40px; width: 40px"></img>
                      </a>
                    </div>                      
                    <div class="col-md-6" style="text-align: left">
                      <a href="/user/{{following.username}}/publish">
                        {{following.name}}
                      </a>
                      <p style="margin-bottom: 0px">@{{following.username}}</p>
                      <p style="margin-bottom: 0px">{{following.author}}</p>
                    </div>
                    <div class="col-md-4">
                      <button ng-show="following.following" type="button" class="btn btn-info btn-sm" ng-click="following.following = false; unfollow(following.id, <%= current_user.id%>)">Following
                      </button>
                      <button ng-hide="following.following" type="button" class="btn btn-default btn-sm" ng-click="following.following = true; follow(following.id, <%= current_user.id%>)">Follow
                      </button>
                    </div>
                  </div>
                </li>
              </ul>
            <% end %>
          </div>
          <br>
          <br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <div class="follwo">
            <% if current_user.username == @user.username %>
              <h2> Followers </h2>
              <ul style="margin: 10px 30px; list-style: none ">
                <li ng-repeat="follower in followers">
                  <div class="row" style="width: 100%; margin-bottom: 20px">
                    <div class="col-md-2" style="text-align: right">
                      <a href="/user/{{follower.username}}/publish">
                        <img src="{{follower.image}}" style="height: 40px; width: 40px"></img>
                      </a>
                    </div>                      
                    <div class="col-md-6" style="text-align: left">
                      <a href="/user/{{follower.username}}/publish">
                        {{follower.name}}
                      </a>
                      <p style="margin-bottom: 0px">@{{follower.username}}</p>
                      <p style="margin-bottom: 0px">{{follower.author}}</p>
                    </div>
                    <div class="col-md-4">
                      <button ng-show="follower.following" type="button" class="btn btn-info btn-sm" ng-click="follower.following = false; unfollow(follower.id, <%= current_user.id%>)">Following
                      </button>
                      <button ng-hide="follower.following" type="button" class="btn btn-default btn-sm" ng-click="follower.following = true; follow(follower.id, <%= current_user.id%>)">Follow
                      </button>
                    </div>
                  </div>
                </li>
              </ul>
            <% end %>
          </div>
  			</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>        
    </div>
  </div>
  <div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <div class="follow">
            <% if current_user.username != @user.username %>
              <h2> Following </h2>
              <ul style="margin: 10px 30px; list-style: none ">
                <li ng-repeat="following in followings">
                  <div class="row" style="width: 100%; margin-bottom: 20px">
                    <div class="col-md-2" style="text-align: right">
                      <a href="/user/{{following.username}}/publish">
                        <img src="{{following.image}}" style="height: 40px; width: 40px"></img>
                      </a>
                    </div>                      
                    <div class="col-md-6" style="text-align: left">
                      <a href="/user/{{following.username}}/publish">
                        {{following.name}}
                      </a>
                      <p style="margin-bottom: 0px">@{{following.username}}</p>
                      <p style="margin-bottom: 0px">{{following.author}}</p>
                    </div>                    
                    <div class="col-md-4">
                      <div ng-hide="following.id == <%= current_user.id %>">
                        <button ng-show="following.following" type="button" class="btn btn-info btn-sm" ng-click="following.following = false; unfollow(following.id, <%= current_user.id%>)">Following
                        </button>
                        <button ng-hide="following.following" type="button" class="btn btn-default btn-sm" ng-click="following.following = true; follow(following.id, <%= current_user.id%>)">Follow
                        </button>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            <% end %>
            <br>
            <br>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="myModal4" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <div class="follow">
      			<% if current_user.username != @user.username %>
    			    <h2> Followers </h2>
    			    <ul style="margin: 10px 30px; list-style: none ">
                <li ng-repeat="follower in followers">
                  <div class="row" style="width: 100%; margin-bottom: 20px">
                    <div class="col-md-2" style="text-align: right">
                      <a href="/user/{{follower.username}}/publish">
                        <img src="{{follower.image}}" style="height: 40px; width: 40px"></img>
                      </a>
                    </div>                      
                    <div class="col-md-6" style="text-align: left">
                      <a href="/user/{{follower.username}}/publish">
                        {{follower.name}}
                      </a>
                      <p style="margin-bottom: 0px">@{{follower.username}}</p>
                      <p style="margin-bottom: 0px">{{follower.author}}</p>
                    </div>                    
                    <div class="col-md-4">
                      <div ng-hide="follower.id == <%= current_user.id %>">
                        <button ng-show="follower.following" type="button" class="btn btn-info btn-sm" ng-click="follower.following = false; unfollow(follower.id, <%= current_user.id%>)">Following
                        </button>
                        <button ng-hide="follower.following" type="button" class="btn btn-default btn-sm" ng-click="follower.following = true; follow(follower.id, <%= current_user.id%>)">Follow
                        </button>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            <% end %>
          </div>
          <br>
          <br>
  			</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>  
    </div>
  </div>
</div>