<div class="maincont">


<div id="usacc"><i class="material-icons" style="font-size:50px; float:center">account_circle</i>
<div id="username"><%= @username  %></div></div>
<br>
<br>

<% if current_user.username == @username %>
<div class="formlist">

<div class="count">
<div id="countpub"><%= Form.where(user_id:current_user.id, publish:true).count %></div>
<div id="countdra"><%= Form.where(user_id:current_user.id, publish:false).count %></div>
<div id="countsav"><%= Form.where(id: current_user.find_up_voted_items).count %></div>

</div>

<div class="boord">
<%= link_to 'Published', static_pages_publish_path, id:"board" %>
<%= link_to 'Drafts', static_pages_drafts_path, id:"board1" %>
<%= link_to 'Saved', static_pages_saved_path, id:"board2" %>
</div>

<% else %>
<a href= "/user/<%= @username  %>" ><button type="button" id="pubbut">Published Boards</button></a>
<br><%= Form.all.where("user_id = ?",User.find_by_username(params[:id]).id ).where(publish:true).count %>
<% end %>

<%= render 'static_pages/boards'%>


</div>


</div>