<% if user = current_user %>
<!DOCTYPE html>
<html>
    <head>
        <title>TheLense</title>
        <link href="P8C.scss" type = "text/css" rel = "stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" >
        <div class="header">
        <div id="nav-header">
           <ul>
               <a href="/"><li id="logo"><%= image_tag 'logo.png' %>THE LENSE</li></a>
               
               <% if user_signed_in? %>
               <a href="/forms/new"><li id="curate">Curate<i class="material-icons" , id="nav-icons">add_circle_outline</i></li></a>
               <a class="dropdown-toggle"  data-toggle="dropdown"><i class="material-icons" style="font-size:30px; float: right; ">account_circle</i></a>
                <ul class="dropdown-menu">
               <li><a href="/static_pages/home1">View Your Boards</a></li><br>
              <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        </li>
               </ul>




               <% else %>
               <a href="/users/sign_in"><li id="curate">Curate<i class="material-icons" , id="nav-icons">add_circle_outline</i></li>
               <a href="/users/sign_in"><li id="user">Sign In/Sign Up<i class="material-icons" , id="nav-icons">account_circle</i></li></a>
               <% end %>

                <li id="search-box">
                    <form>
                        <input type="search", id="sebar" placeholder="Search...">
                        <a class="button"><i class="material-icons", id="nav-icons">search</i></a>
                    </form> 
               </li>
            </ul>
        </div>
        </div>
        
        
      <div id="nav-menu">
        <ul id="subh">
            <li>Trending</li>
            <li>Topic 1</li>
            <li>Topic 2</li>
            <li>Topic 3</li>
            <li>Content Spiral</li>
            <li>Bookmark</li>
        </ul>
      </div>  



        
    <script>
    $(document).ready(function(){
    $(".button").click(function(){
        $("#sebar").toggle();
     });
     });
    </script> 
        
    </head>    
    <body>


<%= form_for(@form) do |f| %>
  <% if @form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@form.errors.count, "error") %> prohibited this form from being saved:</h2>

      <ul>
      <% @form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form_container">
  <div class="field">
    <%= f.label :Board_Title %>
    <%= f.text_field :title  , id:"textfield" , placeholder:"Enter title" %>
  </div>
  <br>
  <br>
  <div class="field">
    <%= f.label :Board_Description %>
    <%= f.text_area :description  , id:"textfield", rows:5 , placeholder:"Enter Description"%>
  </div>
  <br>
  <br>
  <div class="field">
    <%= f.label :item1 %>
    <%= f.text_field :title1  , id:"textfield" , placeholder:"Enter title1" %>
    <br>
    <br>
    <%= f.text_field :url1  , id:"textfield", placeholder:"First Url"  %>
  </div>
  <br>
  <br>
  <div class="field">
    <%= f.label :item2 %>
    <%= f.text_field :title2  , id:"textfield" , placeholder:"Enter title2" %>
    <br>
    <br>
    <%= f.text_field :url2 , id:"textfield", placeholder:"Second Url" %>
  </div>
  <br>
  <br>
  <div class="field">
    <%= f.label :item3 %>
    <%= f.text_field :title3  , id:"textfield" , placeholder:"Enter title3" %>
    <br>
    <br>
    <%= f.text_field :url3 , id:"textfield", placeholder:"Third Url" %>
  </div>
  <br>
  <br>
  <div class="field">
    <%= f.label :item4 %>
    <%= f.text_field :titel4  , id:"textfield" , placeholder:"Enter title4" %>
    <br>
    <br>
    <%= f.text_field :url4 , id:"textfield", placeholder:"Fourth Url" %>
  </div>
  <br>
  <br>
  <div class="field">
    <%= f.label :item5 %>
    <%= f.text_field :title5  , id:"textfield" , placeholder:"Enter title5" %>
    <br>
    <br>
    <%= f.text_field :url5 , id:"textfield", placeholder:"Fifth Url" %>
  </div>
  <br>
  <br>
  <br>
  <div class="actions">
    <%= f.submit 'Save as Draft', id:"Save"%> <%= f.submit 'Publish', id:"Save" %>
  </div>
<% end %>
</div>
<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>