<% if user = current_user %>   <%-# only the user is current_user then only can he create a form -%>

<%= form_for(@form) do |f| %>
  <% if @form.errors.any? %>  
    <div id="error_explanation">
      <h2><%= pluralize(@form.errors.count, "error") %> prohibited this form from being saved:</h2>

      <ul>
      <% @form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form_container">

<%= f.hidden_field :user_id, value: current_user.id %>  <%-# Unique id to the customers so that each is user is differently identified. User 1 has id 1. -%>


<%-# label and text_field are used -%>
<%-# Its a form to be submitted by the user -%>

  <div class="field">                                  
    <%= f.label :Board_Title %>
    <%= f.text_field :title  , id:"textfield" , placeholder:"Enter title" %>
  </div>
  <br>
  <br>
  <div class="field">
    <%= f.label :Board_Description %>
    <%= f.text_area :description  , id:"textfield", rows:5 , placeholder:"Enter Description"%>
  </div>
  <br>
  <br>
  <div class="field">
    <%= f.label :item1 %>
    <%= f.hidden_field :title1  , id:"textfield" , placeholder:"Enter title1(optional)" %>
    <br>
    <br>
    <%= f.hidden_field :description1 %>
    <%= f.text_field :url1  , id:"textfield", placeholder:"First Url"  %>
  </div>
  <br>
  <br>
  <div class="field">
    <%= f.label :item2 %>
    <%= f.hidden_field :title2  , id:"textfield" , placeholder:"Enter title2(optional)" %>
    <br>
    <br>
    <%= f.hidden_field :description2 %>
    <%= f.text_field :url2 , id:"textfield", placeholder:"Second Url" %>
  </div>
  <br>
  <br>
  <div class="field">
    <%= f.label :item3 %>
    <%= f.hidden_field :title3  , id:"textfield" , placeholder:"Enter title3(optional)" %>
    <br>
    <br>
    <%= f.hidden_field :description3 %>
    <%= f.text_field :url3 , id:"textfield", placeholder:"Third Url" %>
  </div>
  <br>
  <br>
  <div class="field">
    <%= f.label :item4 %>
    <%= f.hidden_field :titel4  , id:"textfield" , placeholder:"Enter title4(optional)" %>
    <br>
    <br>
    <%= f.hidden_field :description4 %>
    <%= f.text_field :url4 , id:"textfield", placeholder:"Fourth Url" %>
  </div>
  <br>
  <br>
  <div class="field">
    <%= f.label :item5 %>
    <%= f.hidden_field :title5  , id:"textfield" , placeholder:"Enter title5(optional)" %>
    <br>
    <br>
    <%= f.hidden_field :description5 %>
    <%= f.text_field :url5 , id:"textfield", placeholder:"Fifth Url" %>
  </div>
  <br>
  <br>
  <br>
  <div class="actions">
  <%-# 2 call to actions -%>
    <%= f.submit 'Publish', id:"Save", name:"commit"%> <%= f.submit 'Save As Draft',id:"Save", name:"commit" %>
  </div>
<% end %>
</div>
<% else %>
  <li>
  
<% end %>