<p id="notice"><%= notice %></p>
<!DOCTYPE html>
<html>
    <head>
        <title>TheLense</title>
        <link href="P8C.scss" type = "text/css" rel = "stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" >
        <div class="header">
        <div id="nav-header">
           <ul>
               <a href="/"><li id="logo"><%= image_tag 'logo.png' %>THE LENSE</li></a>
               
               <% if user_signed_in? %>
               <a href="/forms/new"><li id="curate">Curate<i class="material-icons" , id="nav-icons">add_circle_outline</i></li></a>
               <a class="dropdown-toggle"  data-toggle="dropdown"><i class="material-icons" style="font-size:30px; float: right; ">account_circle</i></a>
                <ul class="dropdown-menu">
               <li><a href="/static_pages/home1">View Your Boards</a></li><br>
              <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        </li>
               </ul>




               <% else %>
               <a href="/users/sign_in"><li id="curate">Curate<i class="material-icons" , id="nav-icons">add_circle_outline</i></li>
               <a href="/users/sign_in"><li id="user">Sign In/Sign Up<i class="material-icons" , id="nav-icons">account_circle</i></li></a>
               <% end %>

                <li id="search-box">
                    <form>
                        <input type="search", id="sebar" placeholder="Search...">
                        <a class="button"><i class="material-icons", id="nav-icons">search</i></a>
                    </form> 
               </li>
            </ul>
        </div>
        </div>      
        
      <div id="nav-menu">
        <ul id="subh">
            <li>Trending</li>
            <li>Topic 1</li>
            <li>Topic 2</li>
            <li>Topic 3</li>
            <li>Content Spiral</li>
            <li>Bookmark</li>
        </ul>
      </div>  



        
    <script>
    $(document).ready(function(){
    $(".button").click(function(){
        $("#sebar").toggle();
     });
     });
    </script> 
        
    </head>    
    <body>

<% if user = current_user %>
<i class="material-icons" style="font-size:50px; float:center">account_circle</i><div id="username"><%= user.email %></div>
<div class="formlist">

<% @forms.each do |form| %>

<div class="container1">
    
    
    <div class="col-md-4">
      <i class="material-icons" id="matred" style="float:left">favorite_border</i><div class="like" id="matred">250</div>
      <br><h3 class="title"><%= form.title %></h3>
      <h10 class="date">Sep 24, 2016</h10><br>
      <h3 class="internal_text"><%= form.description %></h3>
      <div class="center-material">
      <i class="material-icons" id="matred" style="font-size:12px">bookmark_border</i>
      <i class="material-icons" id="matred" style="font-size:12px">add_circle_outline</i>
      <i class="material-icons" id="matred" style="font-size:12px">add_circle_outline</i>
    </div>
    <div class="center-material">28 mins long</div>
    <br>
    <br>
    <br>
      <div class="bottom-material">
      <i class="material-icons" id="matred" style="font-size:16px">bookmark_border</i>
      <i class="material-icons" id="matred" style="font-size:16px">add_circle_outline</i>
      <i class="material-icons" id="matred" style="font-size:16px">add_circle_outline</i>
    </div>
    </div>
     

   
    <div class="container3">
   
    <div class="row">
    <div class="col-md-2">
    <br>
    <hr>
    <h10 class="title1"><%= form.title1 %></h10>
    <br>
    <br>
    <%= image_tag "photo.png", :size => "208x161" %>
    <br>
    <div id="link"><%= form.url1 %></div>
    <br>
    <h4 class="internal_text1">i was always focussed on achieving the best. the best is yet to come.... </h4>
    <hr>
    <br>
    </div>

  
    
    <div class="col-md-2">
    <br>
    <hr>
    <h10 class="title1"><%= form.title2 %></h10>
    <br>
    <br>
    <%= image_tag "photo.png", :size => "208x161" %>
    <br>
    <div id="link"><%= form.url2 %></div>
    <br>
    <h4 class="internal_text1">i was always focussed on achieving the best. the best is yet to come.... </h4>
    <hr>
    <br>
    </div>
    

     
    <div class="col-md-2">
    <br>
    <hr>
    <h10 class="title1"><%= form.title3 %></h10>
    <br>
    <br>
    <%= image_tag "photo.png", :size => "161x161" %>
    <br>
    <div id="link"><%= form.url3 %></div>
    <br>
    <h4 class="internal_text1">i was always focussed on achieving the best. the best is yet to come.... </h4>
    <hr>
    <br>
    </div>

    <div class="col-md-2">
    <br>
    <hr>
    <h10 class="title1"><%= form.titel4 %></h10>
    <br>
    <br>
    <%= image_tag "photo.png", :size => "161x161" %>
    <br>
    <div id="link"><%= form.url4 %></div>
    <br>
    <h4 class="internal_text1">i was always focussed on achieving the best. the best is yet to come.... </h4>
    <hr>
    <br>
    </div>

    <div class="col-md-2">
    <br>
    <hr>
    <h10 class="title1"><%= form.title5 %></h10>
    <br>
    <br>
    <%= image_tag "photo.png", :size => "161x161" %>
    <br>
    <div id="link"><%= form.url5 %></div>
    <br>
    <h4 class="internal_text1">i was always focussed on achieving the best. the best is yet to come.... </h4>
    <hr>
    <br>
    </div>

    <div class="col-md-2">
    <br>
    <hr>
    <h10 class="title1">Title 6</h10>
    <br>
    <br>
    <%= image_tag "photo.png", :size => "161x161" %>
    <br>
    <div id="link">Simplyfyingfinance.com</div>
    <br>
    <h4 class="internal_text1">i was always focussed on achieving the best. the best is yet to come.... </h4>
    <hr>
    <br>
    </div>

    </div>
    </div>  
     </div> 



        <%= link_to 'Show', form %>
        <%= link_to 'Edit', edit_form_path(form) %>
        <%= link_to 'Destroy', form, method: :delete, data: { confirm: 'Are you sure?' } %>
      
    <% end %>

</div>
<br>

<%= link_to 'New Form', new_form_path %>
<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>