<p id="notice"><%= notice %></p>
<% if user = current_user %>
<h1>Blog List</h1>
<div class="formlist">
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Title1</th>
      <th>Url1</th>
      <th>Title2</th>
      <th>Url2</th>
      <th>Title3</th>
      <th>Url3</th>
      <th>Title4</th>
      <th>Url4</th>
      <th>Title5</th>
      <th>Url5</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @forms.each do |form| %>
      <tr>
        <td><%= form.title %></td>
        <td><%= form.description %></td>
        <td><%= form.title1 %></td>
        <td><%= form.url1 %></td>
        <td><%= form.title2 %></td>
        <td><%= form.url2 %></td>
        <td><%= form.title3 %></td>
        <td><%= form.url3 %></td>
        <td><%= form.titel4 %></td>
        <td><%= form.url4 %></td>
        <td><%= form.title5 %></td>
        <td><%= form.url5 %></td>
        <td><%= link_to 'Show', form %></td>
        <td><%= link_to 'Edit', edit_form_path(form) %></td>
        <td><%= link_to 'Destroy', form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Form', new_form_path %>
<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>