<div class="maincont">
<table-responsive>
    <table>
        <div class ="table-condensed table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Users Name</th>
                    <th>Title 1 and Domain</th>
                    <th>Title 2 and Domain</th>
                    <th>Title 3 and Domain</th>
                    <th>Title 4 and Domain</th>
                    <th>Title 5 and Domain</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                    <th>Admins Date</th>
                    <th>Tags</th>
                    <th>Edit Tags</th>
                    <th>Curativ Accounts</th>
                    <th>Admins Date</th>
                    <th>View Count</th>
                    <th>Shared Count</th>
                    <th>Saved Count</th>
                    <th>Submit tag</th>
                    <!-- <th>Edit</th> -->
                    <th>Delete</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <% @forms.each do |form| %>
                    <% @userflname = form.user_id %>
                    <% @user = User.find(@userflname) %>
                    <td><%= form.id %></td>
                    <td><%= form.title %></td>
                    <td><%= @user.username %></td>
                    <td><%= form.title1 %> <hr> <%= form.url1.sub(/https?\:(\\\\|\/\/)(www.)?/,'').split('/').first %></td>
                    <td><%= form.title2 %> <hr> <%= form.url2.sub(/https?\:(\\\\|\/\/)(www.)?/,'').split('/').first %></td>
                    <td><%= form.title3 %> <hr> <%= form.url3.sub(/https?\:(\\\\|\/\/)(www.)?/,'').split('/').first %></td>
                    <td><%= form.titel4 %> <hr> <%= form.url4.sub(/https?\:(\\\\|\/\/)(www.)?/,'').split('/').first %></td>
                    <td><%= form.title5 %> <hr> <%= form.url5.sub(/https?\:(\\\\|\/\/)(www.)?/,'').split('/').first %></td>
                    <td><%= form.created_at.in_time_zone(TZInfo::Timezone.get('Asia/Kolkata')).strftime("%d/%m/%Y %H:%M:%S%p") %></td>
                    <td><%= form.updated_at.in_time_zone(TZInfo::Timezone.get('Asia/Kolkata')).strftime("%d/%m/%Y %H:%M:%S%p") %></td>
                    <td><%= form.admins_date.in_time_zone(TZInfo::Timezone.get('Asia/Kolkata')).strftime("%d/%m/%Y ") rescue nil %></td>
                    <td><%= form.tag_list %></td>
                    <td>
                      <%= form_for form, :url => forms_path(form), method: :get do |f| %>
                      <% if form.user.id == current_admin.id %>
                        <% @user_cur = User.where("email LIKE ?", "%@curativ.com%") %>
                        <%= f.select :user_id, options_for_select(@user_cur.map { |cur| [cur.username, cur.id] }) %>
                      <% end %>  
                    </td>
                    <td>
                        <!-- ROBIN, WE NEED TO ADD THESE FIELDS INTO THE DB -->
                        <div class="field">
                          <%= f.text_field :tag_list  , id:"textfield", rows:3 , placeholder:"List upto 5 keywords, separated by commas,to help people to discover your board!", 'data-role'=>'tagsinput', value:form.tag_list.to_s %>
                        </div>
                    </td>
                    <td>
                      <%= f.date_select :admins_date,  id:"notes", placeholder:"mm/dd/yyyy", value:form.admins_date %>
                    </td>
                    <td>
                      <%= f.number_field :view_count,  id:"notes", placeholder:"View Count", value:form.view_count %>
                    </td>
                    <td>
                      <%= f.number_field :share_count,  id:"notes", placeholder:"Share Count", value:form.share_count %>
                    </td>
                    <td>
                      <%= f.number_field :saved_count,  id:"notes", placeholder:"Saved Count", value:form.saved_count %>
                    </td>    
                    <td>
                      <div class="actions">
                          <%= f.submit 'Publish', id:"saves", name:"commit"%>
                      </div>
                      <% end %>
                    </td>
                    <!-- <td><%= link_to 'Edit', edit_form_path(form) %></td> -->

                           
                    <td><%= link_to 'Delete', form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    <td></td>      
                </tr>   
                    <% end %>
            </tbody>
        </div>
    </table>
<br>
</table-responsive>

</div>

<style type="text/css">
    table
  {
   border: 1px solid pink;
   width: 80%;
  }

  td
  {
   border: 1px solid black;
   background-color: #D3D3D3;
  }

  th
  {
   background-color: white;
   border: 1px solid black;
  }

  #saves
  {
    width: 100%;
  }
</style>
