<div class="maincont">
<table-responsive>
    <table>
        <div class ="table-condensed table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Users Name</th>
                    <th>Title 1 and Domain</th>
                    <th>Title 2 and Domain</th>
                    <th>Title 3 and Domain</th>
                    <th>Title 4 and Domain</th>
                    <th>Title 5 and Domain</th>
                    <th>Tags</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <% @forms.each do |form| %>
                    <% @userflname = form.user_id %>
                    <% @user = User.find(@userflname) %>
                    <td><%= form.id %></td>
                    <td><%= form.title %></td>
                    <td><%= @user.name %></td>
                    <td><%= form.title1 %> <hr> <%= form.url1.sub(/https?\:(\\\\|\/\/)(www.)?/,'').split('/').first %></td>
                    <td><%= form.title2 %> <hr> <%= form.url2.sub(/https?\:(\\\\|\/\/)(www.)?/,'').split('/').first %></td>
                    <td><%= form.title3 %> <hr> <%= form.url3.sub(/https?\:(\\\\|\/\/)(www.)?/,'').split('/').first %></td>
                    <td><%= form.titel4 %> <hr> <%= form.url4.sub(/https?\:(\\\\|\/\/)(www.)?/,'').split('/').first %></td>
                    <td><%= form.title5 %> <hr> <%= form.url5.sub(/https?\:(\\\\|\/\/)(www.)?/,'').split('/').first %></td>
                    <td><%= form.tag_list %></td>
                    <td><%= link_to 'Edit', edit_form_path(form) %></td>

                           
                    <td><%= link_to 'Delete', form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                          
                </tr>   
                    <% end %>
            </tbody>
        </div>
    </table>
<br>
</table-responsive>

</div>

<style type="text/css">
    table
  {
   border: 1px solid pink;
  }

  td
  {
   border: 1px solid pink;
  }

  th
  {
   border: 1px solid pink;
  }
</style>