<style type="text/css">

  

</style>
<div class="modal fade custom-modal" id="createFormModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel" ng-controller="newFormCtrl" ng-init="init()">
  <div class="modal-dialog" style="width: 80%">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="openModal = false">&times;</button>
        <h4 class="new-title">New Board</h4>
      </div>
      <div class="modal-body">
        <md-list>
          <md-list-item>
            <% if current_user.photo_url.present? %>
              <%= image_tag current_user.photo_url, id:"new_form_avatar_image", class:"user-avatar" %>
            <% else %>
              <i class="material-icons md-120">account_circle</i>
            <% end %>
            <p id="new_form_avatar_text"><b><%= current_user.username.capitalize %> </b><br> Draft</p>
          </md-list-item>
        </md-list>
    
        <div layout="row">
          <div flex="100">
            <md-input-container class="md-block md-accent">
              <label>Title</label>
              <input ng-model="formTitle">
            </md-input-container>
          </div>
        </div>
        
        <div layout="row">
          <div flex="100">
            <md-input-container class="md-block md-accent">
              <label>Sub Header</label>
              <input ng-model="formSubheader">
            </md-input-container>
          </div>
        </div>
        
        <div layout="row">
          <div flex="100"> 
            <md-input-container class="md-block md-accent">
              <label>Description</label>
              <textarea ng-model="formDsc" md-maxlength="350" rows="3" md-select-on-focus></textarea>
            </md-input-container>
          </div>
        </div>
        
        <div class="row" style="width: 100%">
          
          <div class="col-md-12"> 
            
            <div layout="row" ui-sortable ng-model="newFormLinks">
              
              <!-- 1st link -->
              <div flex="20" ng-repeat="link in newFormLinks track by $index">
                <md-card>
                  <md-card-header>
                    <div class="" ng-if="newFormLinks[$index].show.viewData">
                      <a href="" ng-click="AddNoteClicked($index.toString())" style="">
                        <i class="material-icons" style="font-size:20px">insert_comment</i>
                      </a>
                      <a href="" ng-click="addNewLink($index.toString())" style="">
                        <i class="material-icons" style="font-size:20px">mode_edit</i>
                      </a>
                    </div>  

                    <md-card-header-text ng-if="newFormLinks[$index].show.addLink" class="new_form_link_text">
                      <a href="" ng-click="AddLinkClicked($index.toString())">
                        <span class="md-title">
                          <div class="center-align_add_link">
                            <i class="material-icons" id="add_link_new_form">add_circle</i>
                           </div> 
                        </span>   
                        <br>
                        <span class="md-subhead">Add a new link</p></span>
                      </a>

                    </md-card-header-text>
                    <md-card-header-text ng-if="newFormLinks[$index].show.linkBox">
                      <a href="" ng-click="backToAddLinkClick($index.toString())" style="">
                        <span class="md-title">
                          <div class="center-align">
                            <i class="material-icons" id="primary-color">arrow_back</i>
                           </div>
                        </span>
                      </a>
                    </md-card-header-text>
                  </md-card-header>


                  <div ng-if="newFormLinks[$index].show.linkBox">
                    <div>
                      <a href="">
                        <p ng-if="newFormLinks[$index].error">{{newFormLinks[$index].error}}</p>
                        <md-input-container class="md-block md-accent">
                          <label>Place Your Link Here</label>
                          <input ng-model="newFormLinks[$index].url">
                        </md-input-container>
                      </a>
                    </div>                            
                    <div class="center-align">
                      <a href="" class="btn btn-sm" ng-click="uploadLink($index.toString())">
                        <i class="material-icons" id="primary-color">file_upload</i>
                      </a>
                    </div>
                  </div>
                  <div ng-if="newFormLinks[$index].show.loading">
                    <i class="material-icons rotate-animation"  id="primary-color">cached</i>
                  </div>
                  <div ng-if="newFormLinks[$index].show.viewData">
                    <div>
                      <img id="cur_image" ng-src="{{newFormLinks[$index].image}}" ng-if="newFormLinks[$index].image"/>
                      <img id="cur_image" src="/assets/whiteimage-56971d179ae068f801bcbdd5c4db7d3cefcaeab1406897a4be57c0cdfe980450.jpg" alt="Whiteimage" ng-if="!newFormLinks[$index].image">
                    </div>
                    
                    <md-card-content>
                      <p>{{newFormLinks[$index].title | cut:true:60:' ...'}}</p>
                    </md-card-content>
                    
                    <md-card-actions layout="column" layout-align="start">
                      <span class="md-button md-accent">{{newFormLinks[$index].host}}</span>
                    </md-card-actions>
                  </div> 
                  <div ng-if="newFormLinks[$index].show.noteBox">
                    
                    <div>
                      <div class="center-align">
                        <a href="" ng-click="backToViewData($index.toString())" style="">
                          <i class="material-icons" id="primary-color">arrow_back</i>
                        </a>                                  
                        </div>
                      <md-input-container class="md-block md-accent">
                        <label>Add Note</label>
                        <textarea ng-model="newFormLinks[$index].note" md-maxlength="100" rows="2" md-select-on-focus></textarea>
                      </md-input-container>
                    </div>

                    <div class="center-align">
                      <a href="" class="btn btn-sm" ng-click="saveNote($index.toString())">
                        <i class="material-icons" style="font-size: 35px">save</i>
                      </a>
                    </div>
                  </div>
                  <div ng-if="newFormLinks[$index].show.editLinkBox">
                    <div>
                      <div class="center-align">
                        <a href="" ng-click="backToViewData($index.toString())" style="">
                          <i class="material-icons">arrow_back</i>
                        </a>                                  
                      </div>
                      <a href="">
                        <p style="color: red" ng-if="newFormLinks[$index].error">{{newFormLinks[$index].error}}</p>
                        <md-input-container class="md-block">
                          <label>Enter Link</label>
                          <input ng-model="newFormLinks[$index].url">
                        </md-input-container>
                      </a>
                    </div>                            
                    <div class="center-align">
                      <a href="" class="btn btn-sm" ng-click="uploadLink($index.toString())">
                        <i class="material-icons" style="font-size: 35px">file_upload</i>
                      </a>
                    </div>
                  </div>
                </md-card>



              </div>                      
            

            </div>



          </div>
        </div>
        


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default draft-btn" ng-click="saveForm(<%= current_user.id %>, 'draft')" ng-disabled="checkFormValidation()">Draft</button>
        <button type="button" class="btn btn-default pub-btn" ng-click="saveForm(<%= current_user.id %>, 'publish')" ng-disabled="checkFormValidation()">Publish</button>
      </div>
    </div>
  </div>
</div>

<script>
    $(document).ready(function () {
        var createFormModal = $("#createFormModal");
        createFormModal.modal("show");
        createFormModal.on('hide.bs.modal', function () {
            window.location.replace("/");
        });
        $( ".draft-btn" ).click(function() {
            window.location.replace("/<%= current_user.username %>/drafts");
        });
        $( ".pub-btn" ).click(function() {
            window.location.replace("/<%= current_user.username %>/published");
        });
    });
</script>