<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <br>
  <br>
  <div class="actions">
    <%= f.label :category_name %>
    <%= f.text_field :category_name %>
  </div>

  <div class="actions">
    <%= f.label :weightage %>
    <%= f.text_field :weightage %>
  </div>

  <div class="actions">
    <%= f.label :rank %>
    <%= f.text_field :rank %>
  </div>

  <div class="actions">
    <%= f.label :tag %>
    <%= f.text_field :tag %>
  </div>  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
