<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style type="text/css">
  @media screen and (orientation:landscape) {
   .logo img{
    width: 65%;
    margin-left: 8%;
        
  }
  .img-responsive
  {
    width: 65%;
    margin: 0px auto;
  }

  .nav
  {
    width:60%;
  }

  }

  .but
  {
    color: black;
  }
</style>
<script>
  function curateInitiated(author, date) {
    mixpanel.track("Curate Initiated", {        
      "Author": author,
      "Date": date        
    });
  }
</script>
<style>
  .dropbtn {    
    padding: 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dp {    
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0px;
    left: 0px;
    background-color: #f9f9f9;    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-bottom: 5px solid rgb(156,23,23);    
    padding: 0;
    white-space: nowrap;    
}

.dp ul {
  background: white;
  list-style: none;
  padding: 0;
  text-align: center;
  display: none;
  width: 100vw;
  position: absolute;  
  left: 0px;
  border-bottom: 5px solid #9c1717;
  font-size: 0px;
  margin-top: 15px;
}

.dp ul .layout-fill {
  display: inline-block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dp:hover ul {
    display: block;
}

.dp ul li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
}

.dp:hover .dropbtn {
    background-color: rgba(158,158,158,0.2);
}

.vertical-divider {
  border-top-width: 0;
  border-right-width: 1px;
  border-right-style: solid;
  height: 100%;
}

.veritcal-border {
    background-color: #9c1717;
    content: '';
    height: 100%;
    margin-left: 0px;
    position: absolute;
    top: 0;
    width: 1px;
    z-index: 10;
}
</style>

<md-toolbar hide-xs md-scroll-shrink ng-if="!isMobile" class="curativ-header" ng-controller="headerCtrl as ctrl" ng-init="init()" ng-cloak>
  <div class="md-toolbar-tools">
    <a href="/">
      <%= image_tag 'https://s3.us-east-2.amazonaws.com/thecurativ-master/thecurativ-logo-small.svg' %>
    </a>
    <md-button md-no-ink class=""><a href="/">Home</a></md-button>
    <md-button md-no-ink class=""><a href="/staff_picks">Staff Picks</a></md-button>
    <md-button md-no-ink class=""><a href="/trending">Trending</a></md-button>
    <div class="dp">
      <md-button md-no-ink class="">Discover<md-icon><i class="material-icons">keyboard_arrow_down</i></md-icon></md-button>        
        <ul>
          <li>
            <md-toolbar layout="row">
              <div class="md-toolbar-tools">
                <span>Business</span>
              </div>
            </md-toolbar>
            <md-list>
              <md-list-item ng-click="null" ng-href="/categories/business_&_economics">                    
                <div class="md-list-item-text">
                  Business & Economics
                </div>
              </md-list-item>
              <md-list-item ng-click="null" ng-href="/categories/marketing">                    
                <div class="md-list-item-text">
                  Marketing
                </div>
              </md-list-item>
              <md-list-item ng-click="null" ng-href="/categories/management_&_entrepreneurship">                    
                <div class="md-list-item-text">
                  Management & Entrepreneurship
                </div>
              </md-list-item>
              <md-list-item ng-click="null" ng-href="/categories/finance">                    
                <div class="md-list-item-text">
                  Finance
                </div>
              </md-list-item>
              <md-list-item ng-click="null" ng-href="/categories/retail">                    
                <div class="md-list-item-text">
                  Retail
                </div>
              </md-list-item>
            </md-list>             
          </li>
          <li class="veritcal-border">
          </li>           
          <li>
            <md-toolbar layout="row">
              <div class="md-toolbar-tools">
                <span>Society</span>
              </div>
            </md-toolbar>
            <md-list>
              <md-list-item ng-click="null" ng-href="/categories/the_world_today">                    
                <div class="md-list-item-text">
                  The World Today
                </div>
              </md-list-item>
              <md-list-item ng-click="null" ng-href="/categories/the_future">                    
                <div class="md-list-item-text">
                  The Future
                </div>
              </md-list-item>
              <md-list-item ng-click="null" ng-href="/categories/history">                    
                <div class="md-list-item-text">
                  History
                </div>
              </md-list-item>
              <md-list-item ng-click="null" ng-href="/categories/politics">                    
                <div class="md-list-item-text">
                  Politics
                </div>
              </md-list-item>                
            </md-list>             
          </li>
          <li class="veritcal-border">
          </li>
          <li>
            <md-toolbar layout="row">
              <div class="md-toolbar-tools">
                <span>Life</span>
              </div>
            </md-toolbar>
            <md-list>
              <md-list-item ng-click="null" ng-href="/categories/self">                    
                <div class="md-list-item-text">
                  Self
                </div>
              </md-list-item>
              <md-list-item ng-click="null" ng-href="/categories/psychology">                    
                <div class="md-list-item-text">
                  Psychology
                </div>
              </md-list-item>
              <md-list-item ng-click="null" ng-href="/categories/work_&_employment">                    
                <div class="md-list-item-text">
                  Work & Employment
                </div>
              </md-list-item>
              <md-list-item ng-click="null" ng-href="/categories/health_&_wellness">                    
                <div class="md-list-item-text">
                  Health & Wellness
                </div>
              </md-list-item>                
            </md-list>
          </li>
          <li class="veritcal-border">
          </li>
          <li>
            <md-toolbar layout="row">
              <div class="md-toolbar-tools">
                <span>Science & Technology</span>
              </div>
            </md-toolbar>
            <md-list>
              <md-list-item ng-click="null" ng-href="/categories/science">                    
                <div class="md-list-item-text">
                  Science
                </div>
              </md-list-item>
              <md-list-item ng-click="null" ng-href="/categories/technology">                    
                <div class="md-list-item-text">
                  Technology
                </div>
              </md-list-item>
              <md-list-item ng-click="null" ng-href="/categories/data">                    
                <div class="md-list-item-text">
                  Data
                </div>
              </md-list-item>
              <md-list-item ng-click="null" ng-href="/categories/algorithms">                    
                <div class="md-list-item-text">
                  Algorithms
                </div>
              </md-list-item>                
            </md-list>
          </li>
          <li class="veritcal-border">
          </li>
          <li>
            <md-toolbar layout="row">
              <div class="md-toolbar-tools">
                <span>Arts & Entertainment</span>
              </div>
            </md-toolbar>
            <md-list>
              <md-list-item ng-click="null" ng-href="/categories/design">                    
                <div class="md-list-item-text">
                  Design
                </div>
              </md-list-item>
              <md-list-item ng-click="null" ng-href="/categories/music">                    
                <div class="md-list-item-text">
                  Music
                </div>
              </md-list-item>
              <md-list-item ng-click="null" ng-href="/categories/sports">                    
                <div class="md-list-item-text">
                  Sports
                </div>
              </md-list-item>
              <md-list-item ng-click="null" ng-href="/categories/travel">                    
                <div class="md-list-item-text">
                  Travel
                </div>
              </md-list-item>                
            </md-list>
          </li>
          <li class="veritcal-border">
          </li>
          <li>
            <md-toolbar layout="row">
              <div class="md-toolbar-tools">
                <span>Filters</span>
              </div>
            </md-toolbar>
            <md-list>
              <md-list-item ng-click="null" ng-href="/most_recent">                    
                <div class="md-list-item-text">
                  Most Recent
                </div>
              </md-list-item>
              <md-list-item ng-click="null" ng-href="/most_popular">                    
                <div class="md-list-item-text">
                  Most Popular
                </div>
              </md-list-item>
              <md-list-item ng-click="null" ng-href="/most_saved">                    
                <div class="md-list-item-text">
                  Most Saved
                </div>
              </md-list-item>
              <md-list-item ng-click="null" ng-href="/categories/unconventional_views">                    
                <div class="md-list-item-text">
                  Unconventional Views
                </div>
              </md-list-item>                
            </md-list>
          </li>
        </ul>            
    </div>      
    <div class="md-truncate flex"></div>
    <span style="font-size: 18px"><%= current_user.username %></span>
    <md-menu md-position-mode="target-right target" md-offset="0 70">        
      <md-button class="md-fab md-mini" aria-label="More" md-menu-origin ng-click="$mdOpenMenu($event)" style="box-shadow: none; padding: 0px;background:white">          
        <% if current_user.avatar_file_name != nil %>
          <img class="user-avatar" src="<%= current_user.avatar.url %>">
        <% else %>
          <i class="material-icons color-grey" style="font-size:40px;" >account_circle</i>            
        <% end %> 
      </md-button>        
      <md-menu-content width="3" style="max-height:100%">
        <md-menu-item>
          <md-button ng-click="" aria-label="">              
            <a layout="row" layout-align="center center" style="width: 100%; height: 100%" md-menu-align-target href="/<%= current_user.username %>/published">My Profile</a>
          </md-button>
        </md-menu-item>
        <md-menu-divider style="background-color: rgba(0,0,0,0.11)"></md-menu-divider>
        <md-menu-item>
          <md-button ng-click="" aria-label="">              
            <a layout="row" layout-align="center center" style="width: 100%; height: 100%" md-menu-align-target href="/<%= current_user.username %>/published">Published</a>
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button>
            <a layout="row" layout-align="center center" style="width: 100%; height: 100%" href="/<%= current_user.username %>/drafts">Drafts</a>
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button>
            <a layout="row" layout-align="center center" style="width: 100%; height: 100%" href="/<%= current_user.username %>/saved">Saved</a>
          </md-button>
        </md-menu-item>
        <md-menu-divider style="background-color: rgba(0,0,0,0.11)"></md-menu-divider>
        <md-menu-item>
          <md-button>
            <a layout="row" layout-align="center center" style="width: 100%; height: 100%" href="/users/edit">Edit Profile</a>
          </md-button>
        </md-menu-item>
        <md-menu-divider style="background-color: rgba(0,0,0,0.11)"></md-menu-divider>
        <md-menu-item>
          <md-button>
            <a data-method="delete" ng-click="resetMixpanel(<%= current_user.to_json %>)" layout="row" layout-align="center center" style="width: 100%; height: 100%" href="/users/sign_out">Sign out</a>
          </md-button>
        </md-menu-item>
        <% if Admin.where(email:current_user.email).present? %>
          <md-menu-item>
            <md-button>
              <a layout="row" layout-align="center center" style="width: 100%; height: 100%" href="/dashboard">Admin Tools</a>
            </md-button>
          </md-menu-item>            
        <% end %>
        <% if admin_signed_in? %>
          <md-menu-item>
            <md-button>
              <a data-method="delete" layout="row" layout-align="center center" style="width: 100%; height: 100%" href="/admins/sign_out">Sign out Admin</a>
            </md-button>
          </md-menu-item>            
        <% end %>
      </md-menu-content>
    </md-menu>
  </div>          
</md-toolbar>

<md-toolbar ng-if="isMobile" class="md-hue-2" md-scroll-shrink ng-controller="headerCtrl as ctrl" ng-init="init()" ng-cloak>
  <div class="md-toolbar-tools">      
    <div layout="row">
      <div flex="10" class="toggle-bar">
        <i class="material-icons" ng-click="openLeftMenu()">reorder</i>
      </div>
      <div flex="20"></div>
      <div flex="40">
        <%= image_tag 'thecurativ.png', width:"92%" %>
      </div>
      <div flex="20"></div>
      <div flex="10" class="right-mob-header">
        <md-button class="md-icon-button" aria-label="More" style="padding: 0px">
        <md-menu md-position-mode="target-right target" md-offset="0 70">        
          <% if current_user.avatar_file_name != nil %>
            <img class="user-avatar" src="<%= current_user.avatar.url %>" md-menu-origin ng-click="$mdOpenMenu($event)">
          <% else %>
            <i class="material-icons color-grey" md-menu-origin ng-click="$mdOpenMenu($event)" style="font-size: 40px">account_circle</i>            
          <% end %> 
          <md-menu-content width="3">
            <md-menu-item>
              <md-button ng-click="" aria-label="">              
                <a layout="row" layout-align="center center" style="width: 100%; height: 100%" md-menu-align-target href="/<%= current_user.username %>/published">Published</a>
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button>
                <a layout="row" layout-align="center center" style="width: 100%; height: 100%" href="/<%= current_user.username %>/drafts">Drafts</a>
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button>
                <a layout="row" layout-align="center center" style="width: 100%; height: 100%" href="/<%= current_user.username %>/saved">Saved</a>
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button>
                <a layout="row" layout-align="center center" style="width: 100%; height: 100%" href="/users/edit">Edit Profile</a>
              </md-button>
            </md-menu-item>
            <md-menu-divider style="background-color: rgba(0,0,0,0.11)"></md-menu-divider>
            <md-menu-item>
              <md-button>
                <a data-method="delete" ng-click="resetMixpanel(<%= current_user.to_json %>)" layout="row" layout-align="center center" style="width: 100%; height: 100%" href="/users/sign_out">Sign out</a>
              </md-button>
            </md-menu-item>
            <% if Admin.where(email:current_user.email).present? %>
              <md-menu-item>
                <md-button>
                  <a layout="row" layout-align="center center" style="width: 100%; height: 100%" href="/dashboard">Admin Tools</a>
                </md-button>
              </md-menu-item>            
            <% end %>
            <% if admin_signed_in? %>
              <md-menu-item>
                <md-button>
                  <a data-method="delete" layout="row" layout-align="center center" style="width: 100%; height: 100%" href="/admins/sign_out">Sign out Admin</a>
                </md-button>
              </md-menu-item>            
            <% end %>
          </md-menu-content>
        </md-menu>
        </md-button>
      </div>
    </div>
  </div>  
</md-toolbar>
<md-toolbar ng-if="isMobile" md-scroll-shrink class="banner">
  <div class="md-toolbar-tools">
    <div class="banner-mobile">
      Hi Everyone, we’re still in Beta and sorting out a few kinks.<br>Please view our site on <b>Desktop Only</b> for now      
    </div>
  </div>  
</md-toolbar>

<md-button onclick="curateInitiated('<%= current_user.username %>', '<%= Time.now.to_date %>')" class="md-fab md-fling md-fab-bottom-right docs-scroll-fab md-ink-ripple md-accent" style="width:45px;height:45px; position: fixed">
  <a href="/<%= current_user.username %>/new_form">
  <md-tooltip class="custom-tooltip" md-delay="0" md-direction="left">Curate</md-tooltip>
  <md-icon><i class="material-icons">add</i></md-icon>
  </a>
</md-button>

<md-sidenav md-component-id="left" class="md-sidenav-left">
  <md-button md-no-ink class=""><a href="/">Home</a></md-button><br>
  <md-button md-no-ink class=""><a href="/staff_picks">Staff Picks</a></md-button><br>
  <md-button md-no-ink class=""><a href="/trending">Trending</a></md-button><br>
  <md-menu md-position-mode="target target" md-offset="20 60">        
    <md-button md-no-ink md-menu-origin class="" aria-label="More1" ng-click="$mdOpenMenu($event)" style="box-shadow: none">Categories<md-icon><i class="material-icons">keyboard_arrow_down</i></md-icon>
    </md-button>        
    <md-menu-content width="3" layout="row" style="" layout-xs="column">
      <div layout-fill>
        <% Category.all.where(weightage:1).each do |f| %>
          <md-menu-item>
              <md-button>
                <a layout="row" layout-align="center center" style="width: 100%; height: 100%" href='/categories/<%= f.category_name %>'><%= f.category_name.capitalize.split('_').join(' ') %></a>
              </md-button>
          </md-menu-item>
        <% end %>
      </div>              
    </md-menu-content>
  </md-menu>
  <md-menu md-position-mode="target target" md-offset="20 60">        
    <md-button md-no-ink md-menu-origin class="" aria-label="More1" ng-click="$mdOpenMenu($event)" style="box-shadow: none">Discover<md-icon><i class="material-icons">keyboard_arrow_down</i></md-icon>
    </md-button>        
    <md-menu-content width="3" layout="row" style="" layout-xs="column">
      <div layout-fill>
        <!-- <md-content> -->
          <md-menu-item>
            <md-button>
              <a layout="row" layout-align="center center" style="width: 100%; height: 100%" md-menu-align-target href="/most_recent">Most Recent</a>
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button>
              <a layout="row" layout-align="center center" style="width: 100%; height: 100%" href="/most_popular">Most Popular</a>
            </md-button>
          </md-menu-item>            
          <md-menu-item>
            <md-button>
              <a layout="row" layout-align="center center" style="width: 100%; height: 100%"  href="/most_saved">Most Saved</a>
            </md-button>
          </md-menu-item>  
        <!-- </md-content> -->          
      </div>
    </md-menu-content>
  </md-menu>
</md-sidenav>
