<!DOCTYPE html>
<html>
<head>
  <title>TheLense</title>

  <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i" rel="stylesheet">

  <div id="showModal"></div>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid col-md-11">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <div id="logo">THE LENSE</div>
        </a>
      </div>


      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <!-- SEARCH BAR
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Go</button>
        </form> -->


        <!-- appearance based on whether the user as signed in or not -->
        <% if user_signed_in? %>

            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="material-icons" style="font-size:30px; color: #000000; float: right; ">account_circle</i>
                  <div class="currentheaderusername"><%= current_user.username %></div>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/user/<%= current_user.username %>">My Boards</a></li>
                  <li><a href="/users/edit">Edit Profile</a></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to('Sign Out', destroy_user_session_path, :method => :delete) %></li>
                </ul>
              </li>
            </ul>

        <% else %>

            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Sign in / Sign Up", new_user_session_path, remote: true %></li>
            </ul>

        <% end %>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->

    <!-- Secondary Nav -->
    <ul class="nav nav-pills col-md-11">
      <li><a href="/">Home</a></li>
      <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          Categories <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <a href="#">
            <li>Science &amp; Technology</li>
          </a>
          <a href="#">
            <li>Business &amp; Finanace</li>
          </a>
          <a href="#">
            <li>Politics &amp; Economics</li>
          </a>
          <a href="#">
            <li>TV &amp; Movies</li>
          </a>
        </ul>
      </li>
      <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          Discover <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <a href="#">
            <li>Editor's Picks</li>
          </a>
          <a href="#">
            <li>Most Recent</li>
          </a>
          <a href="#">
            <li>Most Popular</li>
          </a>
          <a href="#">
            <li>Most Saved</li>
          </a>
        </ul>
      </li>

      <!-- My Boards if user has signed in -->
      <% if user_signed_in? %>
          <li role="presentation" class="dropdown" style="float:right;">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              My Boards <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/drafts">Drafts</a></li>
              <li><a href="/publish">Published</a></li>
              <li><a href="/saved">Bookmarked</a></li>
            </ul>
          </li>
      <% end %>
    </ul>
  </nav>


  <div class="col-md-12" id="fixedContainer">

    <% if user_signed_in? %>
        <a href="/forms/new">
          <div id="cur"><i class="material-icons md-48" , id="addCircle">add</i>
            <p class="text">Curate</p></div>
        </a>
    <% else %>
        <%= link_to(new_user_session_path, remote: true) do %>
            <div id="cur"><i class="material-icons md-48" , id="addCircle">add</i>
              <p class="text">Curate</p></div>
        <% end %>
    <% end %>
  </div>

</head>
<body>