<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="" ng-controller="headerCtrl as ctrl" ng-cloak>
  <md-toolbar class="curativ-header md-tall" layout="row">
    <div flex layout="column">
      <div class="md-toolbar-tools">
        <a href="/">
          <img src="/assets/thecurativ.png" />
        </a>
        <md-menu md-offset="0 -7">
          <md-button class="md-fab md-mini" aria-label="More" ng-click="$mdOpenMenu($event)" style="box-shadow: none">
            <% if current_user.avatar_file_name != nil %>
              <img class="user-avatar" src="<%= current_user.avatar.url %>" style="width: 30px; height: 30px;">
            <% else %>
              <md-icon md-font-icon="icon-home" style="font-size: 24px;"
              class="step "><i class="material-icons" style="" >account_circle</i></md-icon>            
            <% end %> 
          </md-button>          
          <md-menu-content width="3">
            <md-menu-item>
              <md-button ng-click="" aria-label="">              
                <a href="/<%= current_user.username %>/published">Published</a>
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button>
                <a href="/<%= current_user.username %>/drafts">Drafts</a>
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button>
                <a href="/<%= current_user.username %>/saved">Saved</a>
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button>
                <a href="/users/edit">Edit Profile</a>
              </md-button>
            </md-menu-item>
            <md-menu-divider style="background-color: rgba(0,0,0,0.11)"></md-menu-divider>
            <md-menu-item>
              <md-button>
                <%= link_to('Sign Out', destroy_user_session_path, :method => :delete) %>
              </md-button>
            </md-menu-item>
            <% if Admin.where(email:current_user.email).present? %>
              <md-menu-item>
                <md-button>
                  <a href="/dashboard">Admin Tools</a>
                </md-button>
              </md-menu-item>            
            <% end %>
            <% if admin_signed_in? %>
              <md-menu-item>
                <md-button>
                  <%= link_to('Sign Out Admin', destroy_admin_session_path, :method => :delete) %>
                </md-button>
              </md-menu-item>            
            <% end %>
          </md-menu-content>
        </md-menu>
      </div>
      <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button md-no-ink class="md-primary"><a href="/trending">Trending</a></md-button>
        <% tren_cat = Form.all.map {|e| e.tag_list}.join(',').split(',').each_with_object(Hash.new(0)) {|b, hash| hash[b] += 1}.sort_by{ |k, v| v }.reverse.to_h.select {|x| x.start_with? 'cat_'} %>
        <% tren_cat.first(3).each do |f,v| %>
          <md-button md-no-ink class="md-primary"><a href="/categories/<%= f[4..-1] %>"><%= f[4..-1].capitalize %></a></md-button>          
        <% end %> 
        <md-select placeholder="Discover" class="md-no-underline" ng-model="Discover">          
          <md-option value="Editor's Picks">Editor's Picks</md-option>
          <md-option value="Most Recent">Most Recent</md-option>
          <md-option value="Most Popular">Most Popular</md-option>
          <md-option value="Most Saved">Most Saved</md-option>
        </md-select>      
      </section>          
    </div>
  </md-toolbar>
  <md-fab-speed-dial md-direction="up" class="md-fling md-fab-bottom-right docs-scroll-fab md-ink-ripple" docs-scroll-class="scrolling" style="position: fixed">
    <md-fab-trigger>
      <md-button class="md-fab md-ink-ripple" style="width:45px;height:45px;background-color: white"><i class="material-icons" >add</i></md-button>
    </md-fab-trigger>

    <md-fab-actions>
      <md-button aria-label="Add User" class="md-fab md-mini md-ink-ripple">
        <a href="/<%= current_user.username %>/new_form">
          <md-tooltip md-direction="left">Create Curate</md-tooltip>
          <md-icon md-font-icon="icon-home" style="font-size: 30px;"
                  class="step "><i class="material-icons" style="" >note_add</i></md-icon>
        </a>
      </md-button>

      <md-button aria-label="Add Group" class="md-fab md-mini md-ink-ripple" ng-click='showAdvanced($event, "<%= current_user.username %>")'>
         <md-tooltip md-direction="left">?</md-tooltip>
        <md-icon md-font-icon="icon-home" style="font-size: 30px;"
                class="step "><i class="material-icons" style="" >account_circle</i></md-icon>
      </md-button>
    </md-fab-actions>
  </md-fab-speed-dial>




  <script type="text/ng-template" id="dialog1.tmpl.html">
    <md-dialog aria-label="New Form" ng-controller="newFormCtrl" ng-init="init()" >
      <form ng-cloak>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2>New Form</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
              <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
          </div>
        </md-toolbar>

        <md-dialog-content>
          
          <div layout="row">
            <md-list>
              <md-list-item class="noright">
                <% if current_user.photo_url.present? %>
                  <img ng-src="<%= current_user.photo_url %>" class="md-avatar" />
                <% else %>
                  <i class="material-icons">account_circle</i>
                <% end %>
                <p><%= current_user.username.capitalize %></p>
              </md-list-item>
            </md-list>
          </div>

          <div flex-xs flex-gt-xs="100">
            <md-input-container class="md-block">
              <label>Title</label>
              <input ng-model="formTitle">
            </md-input-container>
            
            <md-input-container class="md-block">
              <label>Description</label>
              <textarea ng-model="formDsc" md-maxlength="315" rows="3" md-select-on-focus></textarea>
            </md-input-container>
          </div>
            


          <div class="md-dialog-content">

            <div layout="row">

              <div flex-xs flex-gt-xs="20" ng-repeat="link in newFormLinks track by $index">
                <md-card>
                  <md-card-content>
                      
                    <div ng-if="newFormLinks[$index].show.addLink">
                      <a href="" ng-click="AddLinkClicked($index.toString())">
                        <i class="material-icons" style="font-size:50px">add_circle</i>
                        <p>Add a new link</p>
                      </a>                            
                    </div>

                    <div ng-if="newFormLinks[$index].show.linkBox">
                      <div>
                        <a href="" ng-click="backToAddLinkClick($index.toString())" style="">
                          <i class="material-icons" style="font-size:20px">arrow_back</i>
                        </a>                                  
                      </div>
                      <a href="">
                        <p style="color: red" ng-if="newFormLinks[$index].error">{{newFormLinks[$index].error}}</p>
                        <div flex-xs flex-gt-xs="100">
                          <md-input-container class="md-block">
                            <label>Enter Link</label>
                            <input type="text" ng-model="newFormLinks[$index].url" >
                          </md-input-container>
                        </div>
                      </a>                        
                      <div>
                        <a href="" class="btn btn-sm" ng-click="uploadLink($index.toString())">
                          <i class="material-icons" style="font-size: 35px">file_upload</i>
                        </a>
                      </div>
                    </div>

                    <div ng-if="newFormLinks[$index].show.loading">
                      <i class="material-icons rotate-animation" style="">cached</i>
                    </div>

                    <div ng-if="newFormLinks[$index].show.viewData">
                      <div>
                          <div>
                            <a href="" ng-click="AddNoteClicked($index.toString())" style="">
                              <i class="material-icons" style="font-size:20px">insert_comment</i>
                            </a>
                            <a href="" ng-click="addNewLink($index.toString())" style="">
                              <i class="material-icons" style="font-size:20px">mode_edit</i>
                            </a>
                          </div>
                          <img ng-src="{{newFormLinks[$index].image}}" ng-if="newFormLinks[$index].image"/>
                          <img id="image" src="/assets/whiteimage-56971d179ae068f801bcbdd5c4db7d3cefcaeab1406897a4be57c0cdfe980450.jpg" alt="Whiteimage" ng-if="!newFormLinks[$index].image">
                      </div>
                      <div>
                        <p>{{newFormLinks[$index].title | cut:true:70:' ...'}}</p>
                      </div>
                      <div>
                        <p style="font-size: 12px">{{newFormLinks[$index].host}}</p>
                      </div>
                    </div>

                    <div ng-if="newFormLinks[$index].show.noteBox">
                      <div>
                        <div>
                          <a href="" ng-click="backToViewData($index.toString())" style="">
                            <i class="material-icons" style="font-size:20px">arrow_back</i>
                          </a>                                  
                        </div>
                        <md-input-container class="md-block">
                          <label>Add Note</label>
                          <textarea ng-model="newFormLinks[$index].note" md-maxlength="150" rows="2" md-select-on-focus></textarea>
                        </md-input-container>
                      </div>
                      <div>
                        <a href="" class="btn btn-sm" ng-click="saveNote($index.toString())">
                          <i class="material-icons" style="font-size: 35px">save</i>
                        </a>
                      </div>
                    </div>

                    <div ng-if="newFormLinks[$index].show.editLinkBox">
                      <div>
                        <div>
                          <a href="" ng-click="backToViewData($index.toString())" style="">
                            <i class="material-icons" style="font-size:20px">arrow_back</i>
                          </a>                                  
                        </div>
                        <a href="">
                          <p style="color: red" ng-if="newFormLinks[$index].error">{{newFormLinks[$index].error}}</p>
                          <input type="text" ng-model="newFormLinks[$index].url" style="width:100%; position: relative; top: 50px" placeholder="place your link here">
                        </a>
                      </div>                            
                      <div>
                        <a href="" class="btn btn-sm" ng-click="uploadLink($index.toString())">
                          <i class="material-icons" style="font-size: 35px">file_upload</i>
                        </a>
                      </div>
                    </div>

                  </md-card-content>
                  
                </md-card>
              </div>
            </div>

          </div>
        </md-dialog-content>
        <md-divider></md-divider>
        <md-dialog-actions layout="row">
          <md-button ng-click="saveForm(<%= current_user.id %>, 'draft')" ng-disabled="checkFormValidation()">Drafts</md-button>
          <md-button ng-click="saveForm(<%= current_user.id %>, 'draft')" ng-disabled="checkFormValidation()">Publish</md-button>
        </md-dialog-actions>
      </form>
    </md-dialog>
  </script>




</div>