
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <div class="form-group">
      <%= f.label :Profile_Picture %>
      <%= f.file_field :avatar %>
    </div>

    <div id="target">
    </div>

    <md-input-container class="md-block">
      <label>Email</label>
      <%= f.text_field :email, disabled: true %>
    </md-input-container>

    <md-input-container class="md-block">
      <label>Username</label>
      <%= f.text_field :username, disabled: true %>
    </md-input-container>

    <md-input-container class="md-block">
      <label>Name</label>
      <%= f.text_field :name %>
    </md-input-container>

    <md-input-container class="md-block">
      <label>Edit Description</label>
      <%= f.text_field :author, required:true %>
    </md-input-container>

    <h1>Choose Categories</h1>    
    <% Category.all.each do |c| %>
      <md-list>
        <md-list-item>
          <p><%= c.category_name %></p>
          <md-checkbox class="md-secondary"></md-checkbox>
        </md-list-item>
      </md-list>
    <% end %>

    <md-divider></md-divider>
   
    <md-button>Update</md-button>
    
    <md-divider></md-divider> 
    <br><br>
    <p>To Change Password Click Here</p>
    <md-button class="change-password submit-btn">Change Password</md-button>
    <br>

    <md-input-container class="md-block" style="display: none" id="newpass">
      <label>Password</label>
      <%= f.password_field :password %>
    </md-input-container>

    <md-input-container class="md-block" style="display: none" id="newpasscof">
      <label>Password Confirmation</label>
      <%= f.password_field :password_confirmation %>
      <br>
      <md-button >Update</md-button>
    </md-input-container>

    <md-divider></md-divider> 
    <br><br>
    <h4>Cancel my account</h4>
    <br>
    <h5>Unhappy?</h5>
    <md-button >Cancel my account </md-button>
    <br>

    

    <!--
    <%=button_to "Cancel my account", registration_path(resource_name), data: {confirm: "Are you sure?"}, method: :delete, type:"button", class: "md-button md-ink-ripple" %>
    -- !>

    <!-- <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, placeholder: "Email", autofocus: true, disabled: true,  class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :username %>
      <%= f.text_field :username, placeholder: "Username", autofocus: true, disabled: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: "Name", autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :Edit_Description %>
      <%= f.text_area :author, id:"textfield", placeholder: 'Description' %>
    </div>
    
    <div class="form-group">
      <%= f.label :categories %>
      <%= f.collection_check_boxes :categories_ids, Category.all, :category_name, :category_name %>
    </div>
    
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div class="form-group">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div align="center">
      <p>To Change Password Click Here</p>
      <%= button_tag 'Change Password', type: 'button', class: 'changepass change-password submit-btn' %>
    </div>

    <div class="form-group" style="display: none" id="newpass">
      <%= f.label :New_Password %>
      <%= f.password_field :password, id:"textfield", autocomplete: "off", placeholder: 'New Password' %>
      <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="form-group" style="display: none" id="newpasscof">
      <%= f.label :New_Password_Confirmation %>
      <%= f.password_field :password_confirmation, id:"textfield", autocomplete: "on", placeholder: 'New Password Confirmation' %>
    </div>


    <div class="actions">
      <%= f.submit "Update", class:"changepass" %>
    </div>

<% end %> -->