<%= form_for(resource, method: :post, url: user_registration_path, remote: true) do |f| %>
  
  <div class="form-group">
    <%= f.label :Name %>
    <%= f.text_field :name, placeholder: "Name", autofocus: true, required: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :Email %>
    <%= f.email_field :email, placeholder: "E-mail", autofocus: true, required: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :Password %>
    <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :Confirm_Password %>
    <%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :Username %>
    <%= f.text_field :username, placeholder: "Username", required: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :Description %>
    <%= f.text_field :author, placeholder: "Description", required: true, class: "form-control" %>
  </div>

  <div class="terms-condition">
    By creating an account, I accept Lense's <a>terms of services</a> and <a>privacy policy</a>
  </div>

  <div class="text-center">
    <input type="submit" name="commit" value="Sign Up" class="btn btn-default" onclick="signUpInitiated()">    
  </div>

<% end %>
<script>
  function signUpInitiated() {
    mixpanel.track("Sign Up Initiated", {        
      "Authentication Method": 'email',        
    });
  }
</script>