<!-- New page to sign up new users -->

<div class="form_container">

  <h3>Join Us</h3>   
  </br>
  <hr>
  
  <%= form_for(:user, method: :post, url: user_registration_path) do |f| %>
  
  <div class="personal">
  <%= render "/users/registrations/personal", :f => f %>
  <%= submit_tag 'Next', :type => 'button', id:"next" %>
  </div>

  <div class="social", style="display:none">
  <%= render "/users/registrations/social", :f => f %>
  <%= submit_tag 'Back', :type => 'button', id:"back" %>
  <%= f.submit "Sign Up" %>
  </div>
</br>
<hr>
  
  <% end %>

<%= render "users/shared/links" %>


</div>


<style type="text/css">
img {
    width: 50%;
    
}
</style>

<script type="text/javascript">
  $("#next").click(function(){
    $(".social").show();
    $(".personal").hide();
});

  $("#back").click(function(){
    $(".social").hide();
    $(".personal").show();
});
</script>